.delivery {
    padding-top: 132px ;
    position: relative;
    @media (min-width: 280px) and (max-width: 600px) {
        padding-top: 55px;
        padding-bottom: 290px;
    }
    @media (min-width: 601px) and (max-width: 1150px) {
        padding-top: 80px;
    }
    @media (min-width: 1200px) and (max-width: 1601px) {
        padding-top: 125px;
    }
    @media (min-width: 601px) and (max-width: 1199px) {
        padding-top: 95px;
    }
    &:before {
        content: '';
        background-image: url(../img/delivery/map.png);
        position: absolute;
        top: 132px;
        right: 0;
        width: 1144px;
        height: 891px;
        pointer-events: none;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
            height: 335px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            top: 440px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            width: 743px;
            height: 578px;
            top: 100px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 470px;
            height: 403px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            top: 90px;
        }
    }
    .wrapper {
        position: relative;
        z-index: 2;
    }
    &__content {
        margin-top: 170px;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-top: 53px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            margin-top: 103px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            margin-top: 68px;
        }
    }
    &__city {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 520px;
        max-width: 454px;
        @media (min-width: 280px) and (max-width: 600px) {
            max-height: 390px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            max-height: 327px;
            max-width: 340px;
        } 
        @media (min-width: 601px) and (max-width: 1199px) {
            max-height: 232px;
            max-width: 233px;
        }       
        a {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            text-decoration-line: underline;
            color: rgba(0, 0, 0, 0.8);
            margin-bottom: 40px;
            &:hover {
                opacity: 0.8;
            }
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 27px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                font-size: 13px;
                line-height: 16px;
                margin-bottom: 24px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 10px;
                line-height: 12px;
                margin-bottom: 16px;
            }
        }
    }
}