.info-company {
    padding-top: 132px;
    padding-bottom: 160px;
    position: relative;
    @media (min-width: 280px) and (max-width: 600px) {
        padding-top: 0;
        padding-bottom: 50px;
    }
    @media (min-width: 1200px) and (max-width: 1601px) {
        padding-top: 136px;
        padding-bottom: 150px;
    }
    @media (min-width: 601px) and (max-width: 1199px) {
        padding: 96px 0 45px;
    }
    &:before {
        content: '';
        background-image: url(../img/delivery/1.png);
        position: absolute;
        top: 224px;
        left: 0;
        width: 704px;
        height: 1000px;
        pointer-events: none;
        @media (min-width: 280px) and (max-width: 600px) {
            display: none;
        }
        @media (min-width: 1200px) and (max-width: 1601px)  {
            width: 532px;
            height: 691px;
            background-size: contain;
            background-repeat: no-repeat;
            top: 158px;
        }
        @media (min-width: 601px) and (max-width: 1199px)  {
            display: none;
        }
    }
    &_backcall {
        padding-top: 0;
        &:before {
            content: '';
            background-image: url(../img/backcall/1.png);
            position: absolute;
            top: 146px;
            left: 0;
            width: 481px;
            height: 504px;
            pointer-events: none;
        }
    }
    &__content {
        margin-top: 113px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        z-index: 2;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-top: 0;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            margin-top: 60px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            margin-top: 45px;
        }
        &_backcall {
            margin-top: 0;  
        }
    }
    &__form {
        width: 48%;
        position: relative;
        z-index: 2;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
        }
        form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 340px;
            justify-content: space-between;
            @media (min-width: 280px) and (max-width: 600px) {
                max-height: 1000px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                max-height: 140.41px;
            }
        }
        input[type=name] {
            margin-bottom: 32px;
            @media (min-width: 1200px) and (max-width: 1601px) {
                margin-bottom: 16px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                margin-bottom: 12px;
            }
        }
        input {
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.7);
            width: 304px;
            height: 61px;
            position: relative;
            background: #FFFFFF;
            border: 1px solid #1189FF;
            box-sizing: border-box;
            outline: none;
            padding: 22px;
            @media (min-width: 280px) and (max-width: 600px) {
                width: 100%;
                max-width: 345px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                width: 178.82px;
                height: 35.88px;
                font-size: 10px;
                line-height: 12px;
                padding: 12px 13px ;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 134px;
                height: 25px;
                font-size: 8px;
                line-height: 10px;
                padding: 8px 10px;
            }
        }
        .iti__selected-flag {
            @media (min-width: 601px) and (max-width: 1601px) {
                padding: 0 29px 0 10px !important;
            }
        }
        .iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
            @media (min-width: 601px) and (max-width: 1601px) {
                padding-left: 50px !important;
            }  
        }
        .inputmail {
            margin: 32px 0;
            @media (min-width: 1200px) and (max-width: 1601px) {
                margin: 17px 0 22px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                margin: 12px 0 15px;
            }
        }
        .button {
            border: none;
            background: #FF153F;
            box-shadow: 0px 3px 25px 2px rgba(255, 21, 63, 0.3);
            border-radius: 7px;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            text-transform: uppercase;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            @media (min-width: 280px) and (max-width: 600px) {
                order: 1;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                width: 178.82px;
                height: 37.06px;
                font-size: 12px;
                padding: 0;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 134px;
                height: 26px;
                font-size: 9px;
                line-height: 156.9%;
                padding: 0;
            }
        }
        textarea {
            background-color: #FFFFFF;
            border: 1px solid #1189FF;
            resize: none;
            width: 400px;
            height: 340px;
            padding: 22px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: rgba(0, 0, 0, 0.7);
            outline: none;
            @media (min-width: 280px) and (max-width: 600px) {
                width: 100%;
                max-width: 345px;
                height: 189px;
                margin-bottom: 30px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                width: 235.29px;
                height: 200.59px;
                font-size: 10px;
                line-height: 12px;
                padding: 13px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 164.71px;
                height: 140.41px;
                padding: 8px;
                font-size: 8px;
                line-height: 10px;
            }
        }
    }
    &__map {
        width: 48%;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            width: 48%;
        }
    }
    &__smalltitle {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 60px;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 14px;
            line-height: 17px;
            margin-top: 53px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 34px;
        }
        @media (min-width: 601px) and (max-width: 1199px)  {
            font-size: 10px;
            line-height: 12px;
            margin-bottom: 24px;
        }
    }
    &__frame {
        border: 2px solid #1189FF;
        box-sizing: border-box;
        min-height: 340px;
        position: absolute;
        right: 0;
        width: 920px;
        border-right: none;
        @media (min-width: 1200px) and (max-width: 1601px) {
            min-height: 200.59px;
            border: 2px solid #1189FF;
            position: relative;
            width: 100%;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            min-height: 140.41px;
            width: 100%;
            position: relative;
            border: 2px solid #1189FF;
            
        }
        iframe {
            width: 920px;
            height: 333px;
            @media (min-width: 280px) and (max-width: 600px) {
                width: 100%;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                height: 195px;
                width: 100%;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 100%;
                height: 140.41px;
            }
        }
        @media (min-width: 280px) and (max-width: 600px) {
            position: relative;
            max-width: 100%;
            border: 2px solid #1189FF;
        }
        @media (min-width: 1602px) and (max-width: 1700px) {
            position: relative;
            width: 100%; 
            border: 2px solid #1189FF;
        }
    }
    &__mapinfo {
        position: absolute;
        bottom: 30px;
        left: 35px;
        background: #3A9DFF;
        border-radius: 7px;
        padding: 20px;
        max-width: 338px; 
        @media (min-width: 280px) and (max-width: 600px) {
            bottom: 15px;
            left: 20px;
            max-width: 241px;
            padding: 15px 20px;
        } 
        @media (min-width: 1200px) and (max-width: 1601px) {
            max-width: 198.82px;
            padding: 13px 12px;
            bottom: 18px;
            left: 20px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            max-width: 139.18px;
            padding: 8px 8px;
            bottom: 12px;
            left: 14px;
        }
    }
    &__contacts {
        .contacts__number {
            margin-left: 40px;
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 9px;
                line-height: 13px;
                margin-left: 26px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                font-size: 8px;
                line-height: 12px;
                margin-left: 25px;
                &:after {
                    width: 13px;
                    height: 13px;
                    background-size: contain;
                    left: -21px;
                }
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 5.59999px;
                line-height: 8px;
                margin-left: 9px;
                &:after {
                    width: 6.05px;
                    height: 6.05px;
                    left: -9px;
                }
            }
        }
        .contacts__mail {
            margin-left: 40px;
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 9px;
                line-height: 13px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                font-size: 8px;
                line-height: 12px;
                margin-left: 25px;
                &:after {
                    width: 13px;
                    height: 13px;
                    background-size: contain;
                    left: -21px;
                }
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 5.59999px;
                line-height: 8px;
                margin-left: 9px;
                &:after {
                    width: 6.05px;
                    height: 6.05px;
                    left: -9px;
                }
            }
        }
        .contacts__adress {
            margin-left: 40px;
            margin-top: 20px;
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 10px;
                line-height: 14px;
                margin-left: 26px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                font-size: 8px;
                line-height: 12px;
                margin-left: 25px;
                margin-top: 11px;
                &:after {
                    width: 13px;
                    height: 13px;
                    background-size: contain;
                    left: -21px;
                }
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 5.59999px;
                line-height: 8px;
                margin-left: 9px;
                margin-top: 7px;
                &:after {
                    width: 6.05px;
                    height: 6.05px;
                    left: -9px;
                }
            }
        }
    }
    &__mapfull {
        width: 48%;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
        }
    }
    &__mapimg {
        display: block;
        background-image: url(../img/contact/map.png);
        width: 749px;
        height: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
            height: 184px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            width: 497.26px;
            height: 265.56px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 348.15px;
            height: 185.93px;
        }
    }
    &__city {
        width: 100%;
        margin-top: 140px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 192px;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-top: 46px;
            max-height: 400px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            margin-top: 90px;
            max-height: 165px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            margin-top: 62px;
            max-height: 120px;
        }
        a {
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            text-decoration-line: underline;
            color: rgba(0, 0, 0, 0.8);
            width: 20%;
            margin-bottom: 40px;
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 27px;
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                font-size: 13px;
                line-height: 16px;
                margin-bottom: 26px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 10px;
                line-height: 12px;
                margin-bottom: 19px;
            }
        }
    }
}