.info-company {
    padding-top: 132px;
    padding-bottom: 160px;
    position: relative;
    &:before {
        content: '';
        background-image: url(../img/delivery/1.png);
        position: absolute;
        top: 224px;
        left: 0;
        width: 704px;
        height: 1000px;
        pointer-events: none;
    }
    &_backcall {
        padding-top: 0;
        &:before {
            content: '';
            background-image: url(../img/backcall/1.png);
            position: absolute;
            top: 415px;
            left: 0;
            width: 481px;
            height: 504px;
            pointer-events: none;
        }
    }
    &__content {
        margin-top: 113px;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        &_backcall {
            margin-top: 0;  
        }
    }
    &__form {
        width: 48%;
        position: relative;
        z-index: 2;
        form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 340px;
            justify-content: space-between;
        }
        input {
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.7);
            width: 304px;
            height: 61px;
            position: relative;
            background: #FFFFFF;
            border: 1px solid #1189FF;
            box-sizing: border-box;
            outline: none;
            padding: 22px;
        }
        .button {
            border: none;
            background: #FF153F;
            box-shadow: 0px 3px 25px 2px rgba(255, 21, 63, 0.3);
            border-radius: 7px;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            text-transform: uppercase;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
        }
        textarea {
            background-color: #FFFFFF;
            border: 1px solid #1189FF;
            resize: none;
            width: 400px;
            height: 340px;
            padding: 22px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: rgba(0, 0, 0, 0.7);
            outline: none;
        }
    }
    &__map {
        width: 48%;
    }
    &__smalltitle {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 60px;
    }
    &__frame {
        border: 2px solid #1189FF;
        box-sizing: border-box;
        min-height: 340px;
        position: absolute;
        right: 0;
        width: 920px;
        border-right: none;
    }
    &__mapinfo {
        position: absolute;
        bottom: 30px;
        left: 35px;
        background: #3A9DFF;
        border-radius: 7px;
        padding: 20px;
        max-width: 338px;  
    }
    &__contacts {
        .contacts__number {
            margin-left: 40px;
        }
        .contacts__mail {
            margin-left: 40px;
        }
        .contacts__adress {
            margin-left: 40px;
            margin-top: 20px;
        }
    }
}