.intro {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 100px;
        left: 0;
        background-image: url(../img/intro/2.png);
        background-position: center;
        background-repeat: no-repeat;
        width: 385px;
        height: 667px;
        @media (min-width: 280px) and (max-width: 600px) {
            display: none;
        }
    }
    &__content {
        display: flex;
        @media (min-width: 280px) and (max-width: 600px) {
            flex-wrap: wrap;
        }
        @media (min-width: 601px) and (max-width: 1200px) {
            flex-wrap: wrap;
        }
    }
    &__backcall {
        width: 50%;
        padding: 148px 0;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
            padding: 33px 0 300px;
            position: relative;
        }
        @media (min-width: 601px) and (max-width: 1200px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 80px 0 600px;
        }
        p {
            max-width: 588px;
            margin-top: 25px;
            margin-bottom: 58px;
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 135.69%;
            letter-spacing: 0.01em;
            color: #000000;
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 14px; 
                font-weight: 500;
                margin-bottom: 31px;
            }
        }

    }
    &__title {
        font-family: 'Jost',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 69px;
        text-transform: uppercase;
        color: #000000;
        max-width: 588px;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 30px;
            line-height: 43px;
        }
    }
    form {
        display: flex;
        #phone {
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.7);
            width: 355px;
            height: 69px;
            position: relative;
            background: #FFFFFF;
            border: 1px solid #1189FF;
            box-sizing: border-box;
            border-radius: 5px 0px 0px 5px;
            outline: none;
            @media (min-width: 280px) and (max-width: 600px) {
                width: 217px;
                height: 40px;
                font-size: 10px;
                line-height: 12px;
            }
        }
        .button {
            position: relative;
            left: -2px;
            @media (min-width: 280px) and (max-width: 600px) {
                width: 128px;
                height: 40px;
                padding: 0;
                font-size: 8px;
                line-height: 10px;
                display: flex;
                justify-content: center;
            }
        }
    }
    &__img {
        width: 50%;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
            height: 206px;
            position: absolute;
            left: 0;
            top: 290px;
        }
        @media (min-width: 601px) and (max-width: 1200px) {
            width: 100%;
            position: absolute;
            top: 500px;
            left: 0;
            height: 500px;
        }
        img {
            width: 990px;
            height: 639px;
            position: absolute;
            @media (min-width: 280px) and (max-width: 600px) {
                width: 100%;
                height: 100%;
            }
            @media (min-width: 601px) and (max-width: 1200px) {
                width: 100%;
                height: 100%;
            }
        }
        div {
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(54, 75, 95, 0.4) 0%, rgba(17, 44, 71, 0.4) 100%);
        }
    }
}