.product {
    padding: 60px;
    @media (min-width: 280px) and (max-width: 600px) {
        padding: 23px 21px;
    }
    @media (min-width: 1200px) and (max-width: 1601px) {
        padding: 40px 55px;
    }
    @media (min-width: 601px) and (max-width: 1199px) {
        padding: 29px 38px;
    }
    &__content {
        margin-top: 50px;
        font-family: 'Noto Sans',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 156.9%;
        color: rgba(0, 0, 0, 0.7);
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 10px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            font-size: 12px;
            margin-top: 40px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            font-size: 10px;
            margin-top: 23px;
        }
    }
    &__title {
        display: flex;
        justify-content: space-between;
        @media (min-width: 280px) and (max-width: 950px) {
            flex-wrap: wrap;
        }
        h3 {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            text-transform: uppercase;
            color: #000000;
            @media (min-width: 280px) and (max-width: 600px) {
                width: 100%;
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 14px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                font-size: 15px;
                line-height: 18px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 12px;
                line-height: 15px;
            }
        }
        .button {
            cursor: pointer;
            @media (min-width: 1200px) and (max-width: 1601px) {
                width: 127.72px;
                height: 24.76px;
                font-size: 9px;
                line-height: 11px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 129px;
                height: 22px;
                font-size: 8px;
                line-height: 10px;
            }
        }
    }
    &__imgtext {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (min-width: 280px) and (max-width: 600px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (min-width: 601px) and (max-width: 1300px) {
            flex-wrap: wrap;
        }
    }
    &__img {
        display: block;
        width: 377px;
        height: 377px;
        background-image: url(../img/production/1.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 171.96px;
            height: 171.96px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            width: 245.66px;
            height: 245.66px;
        }
    }
    &__list {
        max-width: 649px;
        font-family: 'Noto Sans',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 156.9%;
        color: rgba(0, 0, 0, 0.7);
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 10px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            font-size: 12px;
            max-width: 393px;
            margin-left: 30px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            font-size: 10px;
            max-width: 284px;
        }
        p {
            text-indent: 1.3em;
            span {
                font-weight: 700;
            }
        }
    }
    &__text {
        max-width: 1026px;
        margin-bottom: 60px;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-bottom: 31px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            margin-bottom: 50px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            margin-bottom: 40px;
        }
    }
    &__popular {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        @media (min-width: 280px) and (max-width: 600px) {
            flex-wrap: wrap;
            margin-top: 16px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            margin-top: 30px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            margin-top: 25px;
        }
    }
    .popular {
        &__card {
            width: 20%;
            position: relative;
            @media (min-width: 280px) and (max-width: 600px) {
                width: 48%;
                margin-bottom: 20px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                width: 22%;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 30%;
            }
        }
    }
    &__elem {
        display: none;
        &.active {
            display: block;
        }
    }
}
