.production {
    padding-top: 100px;
    padding-bottom: 137px;
    @media (min-width: 280px) and (max-width: 600px) {
        padding-bottom: 47px;
        padding-top: 0;
    }
    @media (min-width: 1200px) and (max-width: 1601px) {
        padding-bottom: 100px;
    }
    @media (min-width: 601px) and (max-width: 1199px) {
        padding-bottom: 80px;
    }
    &__title {
        margin-bottom: 113px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-bottom: 30px;
            flex-wrap: wrap;
        }
        @media (min-width: 601px) and (max-width: 1601px) {
            margin-bottom: 47px;
        }
    }
    &__button {
        margin-right: 20px;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-right: 0;
            width: 100%;
            margin-top: 30px;
            height: 34px;
        }
        @media (min-width: 601px) and (max-width: 1601px) {
            margin-right: 1%;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 142px;
            height: 27px;
            font-size: 8px;
            line-height: 10px;
        }
    }
    &__content {
        display: flex;
        @media (min-width: 280px) and (max-width: 600px) {
            flex-wrap: wrap;
        }
    }
    &__navigate {
        width: 24%;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
        }
        @media (min-width: 601px) and (max-width: 1601px) {
            width: 24.6%;
        }
    }
    &__product {
        width: 76%;
        background: #FFFFFF;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        margin-left: -1%;
        position: relative;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-left: 0;
            width: 100%;
        }
        @media (min-width: 601px) and (max-width: 1601px) {
            width: 75.4%;
        }
    }
}
