.production {
    padding-top: 100px;
    padding-bottom: 137px;
    @media (min-width: 280px) and (max-width: 600px) {
        padding-bottom: 47px;
        padding-top: 0;
    }
    &__title {
        margin-bottom: 113px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-bottom: 63px;
            flex-wrap: wrap;
        }
    }
    &__button {
        margin-right: 20px;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-right: 0;
            width: 100%;
            margin-top: 30px;
        }
    }
    &__content {
        display: flex;
        @media (min-width: 280px) and (max-width: 600px) {
            flex-wrap: wrap;
        }
    }
    &__navigate {
        width: 24%;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
        }
        @media (min-width: 951px) and (max-width: 1300px) {
            width: 30%;
        }
        @media (min-width: 601px) and (max-width: 950px) {
            width: 40%;
        }
    }
    &__product {
        width: 76%;
        background: #FFFFFF;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        margin-left: -1%;
        position: relative;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-left: 0;
            width: 100%;
        }
        @media (min-width: 951px) and (max-width: 1300px) {
            width: 70%;
        }
        @media (min-width: 601px) and (max-width: 950px) {
            width: 60%;
        }
    }
}
