.reviews {
    position: relative;
    padding-top: 100px;
    padding-bottom: 137px;
    background-image: url(../img/reviews/1.jpg);
    background-size: cover;
    background-position: center;
    @media (min-width: 280px) and (max-width: 600px) {
        padding-top: 45px;
        padding-bottom: 58px;
    }
    @media (min-width: 1200px) and (max-width: 1601px) {
        padding: 63px 0 68px;
    }
    @media (min-width: 601px) and (max-width: 1199px) {
        padding: 39px 0 60px;
    }
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(36, 57, 78, 0.8);
        top: 0;
        pointer-events: none;
    }
    .wrapper {
        position: relative;
    }
    &__content {
        margin-top: 100px;
        background: transparent;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-top: 45px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            margin-top: 57px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            margin-top: 34px;
        }
    }
}