<div class="types-product">
    <div class="wrapper">
        <div class="types-product__title title_production">
            <h2 class="title title_none">ТИПЫ ОБОРУДОВАНИЯ</h2>
            <div class="title__contain">
                <a href="" class="title__filter">Подбор по области применения</a>
                <a href="" class="title__button button">Перейти к каталогу</a>
            </div>
        </div>
        <div class="types-product__content">

            <div class="types-product__card">
                <p class="types-product__cardtitle">АРТЕЗИАНСКИЕ ТИПА ЭЦВ​</p>
                <a class="types-product__img" style="background-image: url(img/types-equipment/1.png);"></a>
                <div class="types-product__hover card-hover">
                    <h4 class="card-hover__title">АРТЕЗИАНСКИЕ ТИПА ЭЦВ​</h4>
                    <p class="card-hover__info">Предназначаются для подъема жидкости преимущественно из буровых колодцев (скважин).</p>
                    <a href="" class="card-hover__button button">Перейти к товарам</a>
                </div>
            </div>

            <div class="types-product__card">
                <p class="types-product__cardtitle">БЕНЗИНОВЫЕ ТИПА СВН И СЦЛ</p>
                <a class="types-product__img" style="background-image: url(img/types-equipment/2.png);"></a>
                <div class="types-product__hover card-hover">
                    <h4 class="card-hover__title">БЕНЗИНОВЫЕ ТИПА СВН И СЦЛ​</h4>
                    <p class="card-hover__info">Предназначаются для подъема жидкости преимущественно из буровых колодцев (скважин).</p>
                    <a href="" class="card-hover__button button">Перейти к товарам</a>
                </div>
            </div>

            <div class="types-product__card">
                <p class="types-product__cardtitle">ВАКУУМНЫЕ ТИПА АВЗ, НВР и ВВН</p>
                <a class="types-product__img" style="background-image: url(img/types-equipment/3.png);"></a>
                <div class="types-product__hover card-hover">
                    <h4 class="card-hover__title">ВАКУУМНЫЕ ТИПА АВЗ, НВР и ВВН​</h4>
                    <p class="card-hover__info">Предназначаются для подъема жидкости преимущественно из буровых колодцев (скважин).</p>
                    <a href="" class="card-hover__button button">Перейти к товарам</a>
                </div>
            </div>

            <div class="types-product__card">
                <p class="types-product__cardtitle">ГОРИЗОНТАЛЬНЫЕ ТИПА Д, 1Д, ЦН ​</p>
                <a class="types-product__img" style="background-image: url(img/types-equipment/4.png);"></a>
                <div class="types-product__hover card-hover">
                    <h4 class="card-hover__title">ГОРИЗОНТАЛЬНЫЕ ТИПА Д, 1Д, ЦН</h4>
                    <p class="card-hover__info">Предназначаются для подъема жидкости преимущественно из буровых колодцев (скважин).</p>
                    <a href="" class="card-hover__button button">Перейти к товарам</a>
                </div>
            </div>

            <div class="types-product__card">
                <p class="types-product__cardtitle">КОНСОЛЬНЫЕ ТИПА К, КН​</p>
                <a class="types-product__img" style="background-image: url(img/types-equipment/5.png);"></a>
                <div class="types-product__hover card-hover">
                    <h4 class="card-hover__title">КОНСОЛЬНЫЕ ТИПА К, КН​</h4>
                    <p class="card-hover__info">Предназначаются для подъема жидкости преимущественно из буровых колодцев (скважин).</p>
                    <a href="" class="card-hover__button button">Перейти к товарам</a>
                </div>
            </div>

            <div class="types-product__card">
                <p class="types-product__cardtitle">СЕКЦИОННЫЕ ТИПА ЦНС И ЦНСГ</p>
                <a class="types-product__img" style="background-image: url(img/types-equipment/6.png);"></a>
                <div class="types-product__hover card-hover">
                    <h4 class="card-hover__title">СЕКЦИОННЫЕ ТИПА ЦНС И ЦНСГ​</h4>
                    <p class="card-hover__info">Предназначаются для подъема жидкости преимущественно из буровых колодцев (скважин).</p>
                    <a href="" class="card-hover__button button">Перейти к товарам</a>
                </div>
            </div>

            <div class="types-product__card">
                <p class="types-product__cardtitle">ФЕКАЛЬНЫЕ ТИПА СМ И СД​</p>
                <a class="types-product__img" style="background-image: url(img/types-equipment/7.png);"></a>
                <div class="types-product__hover card-hover">
                    <h4 class="card-hover__title">ФЕКАЛЬНЫЕ ТИПА СМ И СД​</h4>
                    <p class="card-hover__info">Предназначаются для подъема жидкости преимущественно из буровых колодцев (скважин).</p>
                    <a href="" class="card-hover__button button">Перейти к товарам</a>
                </div>
            </div>

            <div class="types-product__card">
                <p class="types-product__cardtitle">ХИМИЧЕСКИЕ ТИПА Х, АХ</p>
                <a class="types-product__img" style="background-image: url(img/types-equipment/8.png);"></a>
                <div class="types-product__hover card-hover">
                    <h4 class="card-hover__title">ХИМИЧЕСКИЕ ТИПА Х, АХ</h4>
                    <p class="card-hover__info">Предназначаются для подъема жидкости преимущественно из буровых колодцев (скважин).</p>
                    <a href="" class="card-hover__button button">Перейти к товарам</a>
                </div>
            </div>

            <div class="types-product__card">
                <p class="types-product__cardtitle">ШЕСТЕРЕННЫЕ ТИПА Ш И НМШ​</p>
                <a class="types-product__img" style="background-image: url(img/types-equipment/9.png);"></a>
                <div class="types-product__hover card-hover">
                    <h4 class="card-hover__title">ШЕСТЕРЕННЫЕ ТИПА Ш И НМШ​</h4>
                    <p class="card-hover__info">Предназначаются для подъема жидкости преимущественно из буровых колодцев (скважин).</p>
                    <a href="" class="card-hover__button button">Перейти к товарам</a>
                </div>
            </div>

            <div class="types-product__card">
                <p class="types-product__cardtitle">Электронасосные агрегаты типа ЦГ</p>
                <a class="types-product__img" style="background-image: url(img/types-equipment/10.png);"></a>
                    <div class="types-product__hover card-hover">
                    <h4 class="card-hover__title">Электронасосные агрегаты типа ЦГ​</h4>
                    <p class="card-hover__info">Предназначаются для подъема жидкости преимущественно из буровых колодцев (скважин).</p>
                    <a href="" class="card-hover__button button">Перейти к товарам</a>
                </div>
            </div>

            <div class="types-product__card">
                <p class="types-product__cardtitle">Конденсатные типа КС и НКУ</p>
                <a class="types-product__img" style="background-image: url(img/types-equipment/11.png);"></a>
                    <div class="types-product__hover card-hover">
                    <h4 class="card-hover__title">Конденсатные типа КС и НКУ​</h4>
                    <p class="card-hover__info">Предназначаются для подъема жидкости преимущественно из буровых колодцев (скважин).</p>
                    <a href="" class="card-hover__button button">Перейти к товарам</a>
                </div>
            </div>

            <div class="types-product__card">
                <p class="types-product__cardtitle">Грунтовые Типа ГрАТ, ГрАК, ГрАУ, ГрТ</p>
                <a class="types-product__img" style="background-image: url(img/types-equipment/12.png);"></a>
                    <div class="types-product__hover card-hover">
                    <h4 class="card-hover__title">Грунтовые Типа ГрАТ, ГрАК, ГрАУ, ГрТ</h4>
                    <p class="card-hover__info">Предназначаются для подъема жидкости преимущественно из буровых колодцев (скважин).</p>
                    <a href="" class="card-hover__button button">Перейти к товарам</a>
                </div>
            </div>

            <div class="types-product__card">
                <p class="types-product__cardtitle">Электронасосные агрегаты типа ВК и ВКС</p>
                <a class="types-product__img" style="background-image: url(img/types-equipment/13.png);"></a>
                    <div class="types-product__hover card-hover">
                    <h4 class="card-hover__title">Электронасосные агрегаты типа ВК и ВКС</h4>
                    <p class="card-hover__info">Предназначаются для подъема жидкости преимущественно из буровых колодцев (скважин).</p>
                    <a href="" class="card-hover__button button">Перейти к товарам</a>
                </div>
            </div>

        </div>
    </div>
</div>