.basket {
    display: flex;
    align-items: center;
    &__img {
        background-image: url(../img/basket.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        width: 35px;
        height: 32px;
        position: relative;
        &:before {
            content: '3';
            position: absolute;
            top: 0;
            right: 0;
            background-color: white;
            border-radius: 50%;
            border: 0.5px solid #000000;
            font-family: 'Noto Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 13px;
            width: 15px;
            height: 15px;
            text-align: center;
            vertical-align: baseline;
            color: black;
        }
    }
    &__text {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        letter-spacing: 0.01em;
        color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
    }
    &__name {
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 1px;
    }
    &__sum {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
    }
}