.breadcrumbs {
    padding: 60px 0;
    &__content {
        display: flex;
        justify-content: flex-start;
    }
    &__crumbs {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.7); 
        position: relative;
        &:hover {
            opacity: 0.8;
        }
        &:not(:last-child) {
            margin-right: 50px;
            &:before {
                content: '';
                position: absolute;
                background-image: url(../img/breadcrumbs-arrow.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 9px;
                height: 17px;
                right: -31px;
                pointer-events: none;
            }
        }
    }
}