.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FF153F;
    box-shadow: 0px 2px 15px rgba(255, 21, 63, 0.3);
    transition: 0.3s ease;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 2px 15px rgba(255, 21, 63, 0.5);
        opacity: 0.8;
    }
    &_form {
        display: inline-flex;
        border: none;
        border-radius: 0px 5px 5px 0px;
        box-shadow: none;
        padding: 25px 31px 24px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        cursor: pointer;
        &:hover { 
            box-shadow: none;
        }
    }
    &_yellow {
        background: #FFC107;
        color: black;
        @media (min-width: 1200px) and (max-width: 1601px) {
            width: 165px;
            height: 31px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}