.card {
    border: 1px solid #000000;
    box-sizing: border-box;
    @media (min-width: 601px) and (max-width: 1199px) {
        &:last-child {
            display: none;
        }
    }
    &__wrapper {
        padding: 25px 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 280px) and (max-width: 600px) {
            padding: 9px 33px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            padding: 9px 33px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            padding: 9px 31px;
        }
    }
    &__price {
        position: absolute;
        top: -1px;
        right: -1px;
        padding: 7px 14px;
        background: #FFC107;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #000000;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 8px;
            line-height: 10px;
            padding: 5px 13px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            font-size: 8px;
            line-height: 10px;
            padding: 4px 7px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            padding: 4px 9px;
            font-size: 7.62658px;
            line-height: 9px;
        }
        &_red {
            background: #FF153F;
        }
    }
    &__img {
        display: block;
        background-position: center;
        background-size: contain;
        width: 104px;
        height: 157px;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 73px;
            height: 110px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            width: 67.77px;
            height: 102.31px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 64.61px;
            height: 97.53px;
        }
    }
    &__title {
        margin-top: 21px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 9px;
            line-height: 11px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            margin-top: 13px;
            font-size: 10px;
            line-height: 12px;
        }
        @media (min-width: 601px) and (max-width: 1199px)  {
            font-size: 10px;
            line-height: 12px;
            margin-top: 13px;
        }
    }
    &__basket {
        margin: 11px 0;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #000000;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 6px;
            line-height: 7px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            font-size: 7px;
            line-height: 9px;
            margin: 7px 0;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            font-size: 7px;
            line-height: 9px;
            margin: 13px 0 9px;
        }
    }
    &__button {
        cursor: pointer;
        border-radius: 3px;
        width: 119px;
        height: 29px;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 8px;
            line-height: 10px;
            width: 84.1px;
            height: 20.5px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 8px;
            line-height: 10px;
            text-transform: none;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            font-size: 8px;
            line-height: 10px;
            width: 77.54px;
            height: 18.9px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 73.92px;
            height: 18.02px;
            font-size: 8px;
            line-height: 10px;
        }
        &_yellow {
            background: #FFC107;
        }
    }
}

.catalog-card {
    position: relative;
    width: 30%;
    max-width: 355px;
    min-width: 355px;
    border: 1px solid #000000;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-align: center;
    @media (min-width: 280px) and (max-width: 600px) {
        width: 48%;
        max-width: none;
        min-width: 163px;
        margin-bottom: 30px;
    }
    .eye-img {
        background-image: url(../img/eye.svg);
        background-size: 25.67px 18.67px;
        position: absolute;
        top: 27px;
        left: 27px;
        width: 25.67px;
        height: 18.67px;
        cursor: pointer;
        @media (min-width: 280px) and (max-width: 600px) {
            display: none;
        }
    }
    // &::before {
    //     content: '';
    //     background-image: url(../img/eye.svg);
    //     background-size: 25.67px 18.67px;
    //     position: absolute;
    //     top: 27px;
    //     left: 27px;
    //     width: 25.67px;
    //     height: 18.67px;
    //     @media (min-width: 280px) and (max-width: 600px) {
    //         top: 15px;
    //         left: 16px;
    //         width: 12px;
    //         height: 9px;
    //         background-size: 12px 9px;
    //     }
    // }
    &__img {
        margin-top: 37px;
        width: 320px;
        height: 261px;
        display: block;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 89px;
            height: 134px;
            background-size: cover;
        }
    }
    &__for {
        margin: 15px 0 13px;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: rgba(0, 0, 0, 0.7);
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 6px;
            line-height: 7px;
            margin: 10px 0 6px;
        }
    }
    &__title {
        max-width: 219px;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 10px;
            line-height: 12px;
            max-width: 100px;
        }
    }
    &__price {
        margin: 22px 0 55px;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        text-transform: uppercase;
        color: #1189FF;
        text-shadow: 0px 0px 20px rgba(17, 137, 255, 0.3);
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 10px;
            line-height: 12px;
            margin: 10px 0 25px;
        }
    }
    &__button {
        position: absolute;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.055em;
        bottom: -22px;
        padding: 12px 0 11px;
        left: 50%;
        transform: translateX(-50%);
        height: 46px;
        width: 184px;
        @media (min-width: 280px) and (max-width: 600px) {
            height: 21px;
            width: 84px; 
            bottom: -10px;
            font-size: 8px;
            line-height: 10px;
            padding: 5px 0 4px;
        }
        &:hover {
            opacity: 1;
        }
    }
    &__center {

    }
    &__info {
        display: none;
    }
    &.active {
        width: 100%;
        max-width: none;
        min-width: initial;
        flex-direction: row;
        text-align: left;
        justify-content: space-evenly;
        margin-bottom: 30px;
        padding-right: 78px;
        .catalog-card {
            @media (min-width: 280px) and (max-width: 600px) {
                justify-content: space-between;
            }
            &__button {
                position: relative;
                bottom: initial;
                left: initial;
                transform: translateX(0);
            }
            &__img {
                margin-top: 0;
            }
            &__for {
                margin-top: 0;
            }
            &__info {
                display: block;
                max-width: 268px;
                font-family: 'Noto Sans',sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 156.9%;
                color: #000000;
                flex-grow: 1;
                @media (min-width: 280px) and (max-width: 1100px) {
                    display: none;
                }
            }
            &__title {
                max-width: 370px;
                text-align: left;
            }
            &__price {
                text-align: left;
                margin: 23px 0;
                @media (min-width: 280px) and (max-width: 600px) {
                    margin: 10px 0 15px;
                }
            }
            &__center {
                flex-grow: 1;
                @media (min-width: 280px) and (max-width: 600px) {
                    flex: none;
                }
            }
        }
    }
    &-slider {
        .catalog-card {
            &__center {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &__title {
                max-width: 219px;
            }
            &__img {
            }
        }
    }
}