
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
label {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.8);
    @media (min-width: 280px) and (max-width: 600px) {
        font-size: 12px;
        line-height: 15px;
    }
}
.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    &:before {
        content: '';
        display: inline-block;
        width: 19px;
        height: 19px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #000000;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }
}
.checkbox:checked+label {
    font-weight: 600;
    color: #000000;
    &::before {
        background-image: url(../img/types-list/check.png);
        background-size: 13px 13px;
        background-position: center;
    }
}
