.footer {
    background-image: url(../img/footer/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(28, 76, 103, 0.75);
        top: 0;
        pointer-events: none;
    }
    &__top {
        padding: 129px 0 85px;
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        color: white;
        display: flex;
        justify-content: space-between;
        @media (min-width: 280px) and (max-width: 600px)  {
            flex-wrap: wrap;
            padding: 52px 0 35px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            padding: 80px 0 64px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            padding: 40px 0 32px;
        }
    }
    &__logo {
        padding-top: 21px;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
            padding-top: 0;
            display: flex;
            justify-content: center;
            order: 1;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            a {
                width: 219.16px;
                height: 141.37px;
            }
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            a {
                width: 153.56px;
                height: 99.06px;
            }
        }
    }
    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 24px;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 18px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 16px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            font-size: 10px;
            line-height: 12px;
            margin-bottom: 12px;
        }
    }
    &__info {
        padding-top: 21px;
        a {
            display: block;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #FFFFFF;
            &:not(:last-child) {
                margin-bottom: 15px;
                @media (min-width: 280px) and (max-width: 600px) {
                    margin-bottom: 12px;
                }
                @media (min-width: 1200px) and (max-width: 1601px) {
                    margin-bottom: 10px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    margin-bottom: 8px;
                }
            }
            &:hover {
                opacity: 0.8;
            }
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 12px;
                line-height: 15px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                font-size: 10px;
                line-height: 12px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 8px;
                line-height: 10px;
            }
        }
        @media (min-width: 280px) and (max-width: 600px) {
            order: 2;
            width: 50%;
        }
    }
    &__production {
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        padding: 20px 24px 5px;
        @media (min-width: 280px) and (max-width: 600px) {
            order: 4;
            width: 100%;
            padding: 22px 18px 36px;
            margin-top: 27px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            padding: 19px 16px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            padding: 19px 11px; 
            height: 164px;
        }
    }
    &__production-elem {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 200px;
        min-width: 470px;
        @media (min-width: 280px) and (max-width: 600px) {
            min-width: auto;
            max-height: 210px;
            max-width: 158px;
            column-gap: 10vw;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            max-width: 357px;
            max-height: 140px;
            min-width: 357px;
            min-height: 140px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            max-width: 261px;
            max-height: 109px;
            min-width: 261px;
            min-height: 109px;
        }
        a {
            display: block;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #FFFFFF;
            &:not(:last-child) {
                margin-bottom: 15px;
                @media (min-width: 1200px) and (max-width: 1601px) {
                    margin-bottom: 10px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    margin-bottom: 8px;
                }
            }
            &:hover {
                opacity: 0.8;
            }
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 12px;
                line-height: 15px;
                font-weight: normal;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                font-size: 10px;
                line-height: 12px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 8px;
                line-height: 10px;
            }
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        padding-top: 21px;
        .contacts__number {
            margin-left: 30px;
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 12px;
                line-height: 17px;
            }  
            @media (min-width: 1200px) and (max-width: 1601px) {
                font-size: 12px;
                line-height: 14px;
                margin-left: 24px;
                &::after {
                    width: 12.68px;
                    height: 12.68px;
                    left: -24px;
                }
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 7.00674px;
                line-height: 10px;
                margin-left: 18px;
                &::after {
                    width: 9px;
                    height: 9px;
                    left: -18px;
                }
            } 
        }
        .contacts__adress {
            max-width: 251px;
            margin-left: 30px;
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 9px;
                line-height: 13px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                font-size: 12px;
                line-height: 14px;
                margin-left: 24px;
                max-width: 169px;
                &::after {
                    width: 12.68px;
                    height: 12.68px;
                    left: -24px;
                }
            } 
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 7.00674px;
                line-height: 10px;
                margin-left: 18px;
                max-width: 119px;
                &::after {
                    width: 9px;
                    height: 9px;
                    left: -18px;
                }
            } 
        }
        .contacts__mail {
            margin-top: 25px;
            margin-bottom: 25px;
            margin-left: 30px;
            @media (min-width: 280px) and (max-width: 600px) {
                margin-top: 18px;
                margin-bottom: 19px;
                font-size: 12px;
                line-height: 17px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                font-size: 12px;
                line-height: 14px;
                margin: 15px 0 16px;
                margin-left: 24px;
                &::after {
                    width: 12.68px;
                    height: 12.68px;
                    left: -24px;
                }
            } 
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 7.00674px;
                line-height: 10px;
                margin: 10px 0 11px;
                margin-left: 18px;
                &::after {
                    width: 9px;
                    height: 9px;
                    left: -18px;
                }
            } 
        }
        @media (min-width: 280px) and (max-width: 600px) {
            order: 3;
            width: 50%;
        }
    }
    &__bottom {
        position: relative;
        border-top: 1px solid #FFFFFF;
        padding: 50px 0 60px;
        @media (min-width: 280px) and (max-width: 600px) {
            padding: 19px 0 24px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            padding: 34px 0 36px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            padding: 12px 0 14px;
        }
        p {
            font-family: 'Gilroy',sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #FFFFFF;
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 14px;
                line-height: 17px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                font-size: 14px;
                line-height: 17px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }

}