//flags to input tel

.iti__flag {background-image: url("../img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../img/flags@2x.png");}
}
//flags to input tel-end

//scroll custom

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ 
  background-color: #3A9DFF; 
  height: 10px;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail{ 
  background-color: white;
} 
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  height: 10px;
}


//scroll custom-end

//background-product
.img-water {
  position: relative;
    &:before {
      content: '';
      background-image: url(../img/types-equipment/back.png);
      position: absolute;
      top: 252px;
      left: 0;
      width: 100%;
      height: 1993px;
      pointer-events: none;
  }
  &_contact {
    &:before {
      top: 220px;
      background-image: url(../img/contact/back.png);
      height: 1040px;
    }
  }
}
//background-product-end