//flags to input tel

.iti__flag {background-image: url("../img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../img/flags@2x.png");}
}

.iti__selected-flag {
  padding: 0 29px 0 26px !important;
}

.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
  padding-left: 82px !important;
}
//flags to input tel-end

//scroll custom

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ 
  background-color: #3A9DFF; 
  height: 10px;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail{ 
  background-color: white;
} 
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  height: 10px;
}


//scroll custom-end

//background-product
.img-water {
  position: relative;
    &:before {
      content: '';
      background-image: url(../img/types-equipment/back.png);
      position: absolute;
      top: 252px;
      left: 0;
      width: 100%;
      height: 1993px;
      pointer-events: none;
      background-size: cover;
      @media (min-width: 280px) and (max-width: 600px) {
        display: none;
      }
  }
  &_contact {
    &:before {
      top: 220px;
      background-image: url(../img/contact/back.png);
      height: 1040px;
      @media (min-width: 280px) and (max-width: 600px) {
        display: none;
      }
    }
  }
}
//background-product-end