//flags to input tel

.iti__flag {background-image: url("../img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../img/flags@2x.png");}
}
//flags to input tel-end

//scroll custom

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ 
  background-color: #3A9DFF; 
  height: 10px;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail{ 
  background-color: white;
} 
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  height: 10px;
}


//scroll custom-end

.title {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  &_white {
    color: white;
  }
  &:before {
    content: '';
    position: absolute;
    border: 3px solid #236FBA;
    width: 445px;
    bottom: -36px;
  }
  &_middle {
    &:before {
      width: 597px;
    }
  }
  &_big {
    &:before {
      width: 647px;
    }
  }
  &_none {
    &:before {
      display: none;
    }
  }
  &_production {
      &:before {
        content: '';
        position: absolute;
        border: 3px solid #236FBA;
        width: 100%;
        bottom: -36px;
    }
  }
  &__contain {

  }
  &__filter {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 135.69%;
    letter-spacing: 0.01em;
    text-decoration-line: underline;
    color: #000000;
    margin-right: 40px;
    &:hover {
      opacity: 0.8;
    }
  }
}