//flags to input tel

.iti__flag {background-image: url("../img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../img/flags@2x.png");}
}
//flags to input tel-end

.title {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 100px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    border: 3px solid #236FBA;
    width: 445px;
    bottom: -36px;
  }
}