.header {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    @media (min-width: 280px) and (max-width: 600px) {
        background: linear-gradient(270deg, #1880E8 0%, #5AADFF 100%);
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        @media (min-width: 280px) and (max-width: 600px) {
            flex-wrap: wrap;
            padding: 0;
        }
    }
    &__wrapper {
        &-top {
            max-width: 1600px;
            margin: 0 auto;
            @media (min-width: 601px) and (max-width: 1615px) {
                padding: 0 15px;
            }
        }
        &-bot {
            max-width: 1600px;
            margin: 0 auto;
            @media (min-width: 601px) and (max-width: 1615px) {
                padding: 0 15px;
            }
        }
    }
    &__logo {  

    }
    &__button {
        @media (min-width: 280px) and (max-width: 600px) {
            display: none;
        }
        @media (min-width: 601px) and (max-width: 760px) {
            display: none;
        }
    }
    &__delivery {
        max-width: 171px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        @media (min-width: 280px) and (max-width: 600px) {
            display: none;
        }
        @media (min-width: 601px) and (max-width: 1200px) {
            display: none;
        }
    }
    &__timetable {
        font-size: 18px;
        line-height: 22px;
        span {
            font-weight: bold; 
        }
        @media (min-width: 280px) and (max-width: 600px) {
            order: -1;
            width: 50%;
            background-color: white;
            font-size: 8px;
            line-height: 10px;
            height: 31px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 15px;
        }
        @media (min-width: 601px) and (max-width: 1000px) {
            font-size: 14px;
            max-width: 144px;
        }
    }
    &__search {
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: rgba(0, 0, 0, 0.7);
        position: relative;
        @media (min-width: 280px) and (max-width: 600px) {
            display: none;
        }
        @media (min-width: 601px) and (max-width: 1400px) {
            display: none;
        }
        input {
            padding: 12px 14px;
            background: #FFFFFF;
            border: 1px solid #000000;
            box-sizing: border-box;
            outline: none;
            &:focus {
                border: 1px solid #000000ab;
            }
        }  
        &:before {
            content: '';
            position: absolute;
            background-image: url(../img/lupa.png);
            width: 19px;
            height: 19px;
            background-size: contain;
            background-position: center;
            top: 50%;
            transform: translateY(-50%);
            right: 11px;
            pointer-events: none;
            transition: 0.3s ease;
        }
        &:hover {
            &:before {
                opacity: 0.8;
            }
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        padding-left: 33px;
        .contacts__number {
            margin-bottom: 13px;
        }
        @media (min-width: 280px) and (max-width: 600px) {
            order: -2;
            width: 50%;
            background-color: white;
            height: 31px;
            justify-content: center;
            .contacts__mail {
                display: none;
            }
            .contacts__number {
                font-size: 10px;
                line-height: 12px;
                margin-bottom: 0;
                &:before {
                    bottom: -3px;
                    width: 95px;
                }
                &:after {
                    width: 12px;
                    height: 12px;
                    background-size: contain;
                    left: -21px;
                }
            }
        }
    }

    &__bottom {
        background: linear-gradient(270deg, #1880E8 0%, #5AADFF 100%);
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        text-transform: lowercase;
        position: relative;
        z-index: 3;
        a {
            color: #FFFFFF;
        }
    } 

    &__burger {
        display: none;
		width: 29px;
		height: 29px;
		cursor: pointer;
		position: relative;
		margin-right: 15px;
        margin-left: 14px;
        @media (min-width: 280px) and (max-width: 600px) {
            display: block;
        }
    }
}
