.logo {
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 131px;
    height: 85px;
    &_white {
        background-image: url(../img/logo-white.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        width: 324px;
        height: 209px;
    }
}