.nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    @media (min-width: 280px) and (max-width: 600px) {
        display: none;
        flex-wrap: wrap;
        border-top: 1px solid white;
        position: absolute;
        top: 0;
        background: linear-gradient(270deg, #1880E8 0%, #5AADFF 100%);
    }
    a {
        display: block;
        padding: 5px 10px 10px 6px;
        position: relative;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
            font-size: 25px;
        }
        @media (min-width: 600px) and (max-width: 760px) {
            font-size: 18px;
            padding: 3px 5px 5px 4px;
        }
        &:before {
            content: '';
            position: absolute;
            background-image: url(../img/nav_hover.svg);
            background-size: 100%;
            width: 100%;
            height: 80%;
            top: -5px;
            right: 0;
            opacity: 0;  
            transition: 0.3s ease;
            pointer-events: none;
            transform: translate(10px, -10px);
            @media (min-width: 280px) and (max-width: 600px) {
                display: none;
            }
        } 
        &:after {
            content: '';
            position: absolute;
            background-image: url(../img/nav_hover.svg);
            background-size: 100%;
            width: 100%;
            height: 80%;
            left: -6px;
            bottom: 0;
            opacity: 0; 
            transition: 0.3s ease;
            pointer-events: none;
            transform: translate(-10px, 10px) rotate(180deg);
            @media (min-width: 280px) and (max-width: 600px) {
                display: none;
            }
        }
        
        &:hover {
            &:after{
                opacity: 1;
                transform: translate(0,0) rotate(180deg);
            }  
            &:before {
                opacity: 1; 
                transform: translate(0,0);
            }
        }
        &:active {
            &:after{
                opacity: 1;
                transform: translate(0,0) rotate(180deg);
            }  
            &:before {
                opacity: 1; 
                transform: translate(0,0);
            }
        }
    }
}

//production-navigate
.navigate {
    &__elem {
        width: 87%;
        height: 84px;
        display: flex;
        margin-left: 49px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
        padding: 21px 14px 21px 24px;
        cursor: pointer;
        position: relative;
        transition: 0.3s ease;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-left: 0;
            width: 100%;
            align-items: center;
            height: 59px;
        }
        @media (min-width: 601px) and (max-width: 1300px) {
            padding: 5px 14px 5px 24px;
            align-items: center;
        }
        a {
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            transition: 0.3s ease;
        }
        p {
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #000000;
            display: inline-block;
            margin-left: 56px;
            transition: 0.3s ease;
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 12px;
                line-height: 15px;
            }
            @media (min-width: 601px) and (max-width: 1300px) {
                font-size: 12px;
            }
        }
        &.active {
            margin-left: 0;
            width: 100%;
            P {
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                @media (min-width: 280px) and (max-width: 600px) {
                    font-size: 12px;
                    line-height: 15px;
                }
                @media (min-width: 601px) and (max-width: 1300px) {
                    font-size: 12px;
                }
            }
        }
    }
}