.popup {
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__title {
        margin-bottom: 40px;
        font-family: 'Jost',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        @media (max-width: 600px) {
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 30px;
        }
        @media (min-width: 601px) and (max-width: 1601px) {
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 25px;
        }
    }
    input {
        width: 397px;
        height: 61px;
        padding: 22px;
        margin-bottom: 28px;
        background: #FFFFFF;
        border: 1px solid #1189FF;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.7);
        outline: none;
        -moz-appearance: textfield;
        @media (max-width: 600px) {
            width: 305px;
            height: 61px;   
        }
        @media (min-width: 601px) and (max-width: 1601px) {
            width: 279px;
            height: 40px;
            margin-bottom: 20px;
            padding: 13px;
            font-size: 12px;
            line-height: 15px;
        }
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        &::placeholder {
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: rgba(0, 0, 0, 0.7);
            @media (min-width: 601px) and (max-width: 1601px) {
                font-size: 12px;
                line-height: 15px;  
            }
            @media (min-width: 1380px) and (max-width: 1601px) {
                font-size: 12px;
                line-height: 15px; 
            }
        }
    }
    .iti {
        margin-bottom: 28px;
        @media (min-width: 601px) and (max-width: 1601px) {
            margin-bottom: 20px;
        }
    }
    textarea {
        width: 397px;
        height: 220px;
        background: #FFFFFF;
        border: 1px solid #1189FF;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.7);
        padding: 22px;
        resize: none;
        outline: none;
        @media (max-width: 600px) {
            width: 305px;
            height: 189px;
        }
        @media (min-width: 601px) and (max-width: 1601px) {
            font-size: 12px;
            line-height: 15px; 
            padding: 13px; 
            width: 279px;
            height: 147px;
        }
        &::placeholder {
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: rgba(0, 0, 0, 0.7);
            @media (max-width: 600px) {
                font-size: 12px;
                line-height: 15px;
            }
            @media (min-width: 601px) and (max-width: 1601px) {
                font-size: 12px;
                line-height: 15px; 
            }
        }
    }
    .button {
        border: none;
        width: 304px;
        height: 63px;
        border-radius: 7px;
        margin: 40px auto 0;
        font-size: 18px;
        line-height: 156.9%;
        @media (max-width: 600px) {
            width: 305px;
            height: 48px;
            font-size: 14px;
            line-height: 156.9%;
            margin: 29px auto 0;
        }
        @media (min-width: 601px) and (max-width: 1601px) {
            width: 279px;
            height: 37px;
            margin-top: 30px;
            font-size: 12px;
            line-height: 156.9%;
        }
    }
    &.fancybox__content {
        padding: 63px 162px 100px;
        @media (max-width: 600px) {
            padding: 30px 20px 55px; 
        }
        @media (min-width: 601px) and (max-width: 1601px) {
            padding: 45px 120px 56px;
        }
    }
}