
.slider-product {
    display: flex;
    overflow: hidden;
    margin-top: -55px;
    @media (min-width: 280px) and (max-width: 600px) {
      flex-wrap: wrap;
      margin-top: 0;
    }
    a {
       display: block;
       background-size: contain;
       background-repeat: no-repeat; 
       background-position: center;
    }
  }
  
  .nav-container .slick-current img {
    border-radius: 5px;
  }
  .nav-container {
      margin-top: 200px;
      @media (min-width: 280px) and (max-width: 600px) {
        order: 1;
      }
  }
  
  .slider-main {
    width: 400px;
    @media (min-width: 280px) and (max-width: 600px) {
      width: 100%;
      max-height: 500px;
    }
    a {
        width: 400px;
        height: 650px;
        @media (min-width: 280px) and (max-width: 600px) {
          width: 300px;
          height: 400px;
          margin: 0 auto;
        }
    }
  }
  .slider-nav {
    @media (min-width: 280px) and (max-width: 600px) {
      display: none;
    }
  }
  
  .main-container {
    width: 100%; 
    @media (min-width: 601px) {
      margin-left: -125px;
      overflow: hidden;
      max-height: 700px;
    }
  }
  
  .nav-container a {
    max-height: 135px;
  }
  
  .nav-container .slick-slide {
    max-height: 135px;
    margin-bottom: 18px;
    //margin-right: 145px;
    max-width: 200px !important;
    a {
       width: 138px; 
       height: 102px;
    }
  }
  
  
  @media (min-width: 1000) {
    .slider-nav {
      display: none !important;
    }
  }


.slider-page-product {
  .slick-dots {
    text-align: left;
    li {
      width: 151px;
      height: 3px;
      margin: 0;
      @media (min-width: 280px) and (max-width: 600px) {
        width: 100px;
      }
      &:not(:last-child) {
        margin-right: 31px;
        @media (min-width: 280px) and (max-width: 600px) {
          margin-right: 20px;
        }
      }
      button {
        width: 151px;
        @media (min-width: 280px) and (max-width: 600px) {
          width: 100px;
        }
        &:before {
          background-color: black;
          content: '';
          width: 151px;
          height: 3px;
          transition: 0.3s ease;
          top: 50%;
          transform: translateY(-50%);
          @media (min-width: 280px) and (max-width: 600px) {
            width: 100px;
          }
        }
      }
    }
  }
  .slick-dots li.slick-active button:before {
    background-color: #1189FF;
    height: 6px;
  }
  .slick-prev, .slick-next{
    top: 45%;
    &:before {
      content: '';
      position: absolute;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 26px;
      height: 52px;
    }
  }
  .slick-prev:before {
    background-image: url(../img/breadcrumbs-arrow.svg);
    left: -40px;
    transform: rotate(180deg);
  }
  .slick-next:before {
    background-image: url(../img/breadcrumbs-arrow.svg);
    right: 0px;
  }
}