body {
  overflow: hidden !important ;
}
.vehicle-detail-banner .car-slider-desc {
  max-width: 180px;
  margin: 0 auto;
}
.banner-slider .slider.slider-for {
  max-width: 84%;
  padding-left: 35px;
}
.banner-slider .slider.slider-nav {
  max-width: 16%;
}
.banner-slider .slider.slider-for,
.banner-slider .slider.slider-nav {
  width: 100%;
  float: left;
}
.banner-slider .slider.slider-nav {
  height: 610px;
  overflow: hidden;

}
.slider-banner-image {
  height: 610px;
}
.banner-slider .slider.slider-nav {
  padding: 80px 0 0;
}
.slider-nav .slick-slide.thumbnail-image .thumbImg{
  max-width: 178px;
  height: 110px;
  margin: 0 auto;
  border: 1px solid #EBEBEB;
}
.slider-banner-image img,
.slider-nav .slick-slide.thumbnail-image .thumbImg img {
  height: 100%;
  width:100%;
  object-fit: contain;
}
.slick-vertical .slick-slide:active,
.slick-vertical .slick-slide:focus,
.slick-arrow:hover,
.slick-arrow:focus {
  border: 0;
  outline: 0;
}
.slider-nav .slick-slide.slick-current.thumbnail-image .thumbImg {
  border: 2px solid #196DB6;
}
.slider-nav .slick-slide.slick-current span {
  color: #196DB6;
}
.slider-nav .slick-slide {
  text-align: center;
  margin: 30px 0;
}
.slick-slider .slick-track {
  margin: -30px 0;
}

/*End USE CSS for Slider*/

@media screen and (max-width : 991px) {

.banner-slider .slider.slider-for,
.banner-slider .slider.slider-nav {
    max-width: 100%;
    float: none;
}
.banner-slider .slider.slider-for {
  padding-right: 0;
  margin-bottom: 200px;
  padding-left: 0;
}
.banner-slider .slider.slider-nav {
  height: auto;
}
.slider-banner-image {
    height: 500px;
} 
.slider.slider-nav.thumb-image {
      padding: 10px 30px 0;
      position: absolute;
      top: 820px;
      left: 125px;
}

.vehicle-detail-banner .car-slider-desc {
    max-width: 340px;
}
.bid-tag {
    padding: 10px 0 15px;
}
.slider.slider-nav.thumb-image {
   white-space: nowrap;
   top: 735px;
    left: 87px;
}
.thumbnail-image.slick-slide {
  padding: 0px 5px;
  min-width: 75px;
  display: inline-block;
  float: none;
}
}

@media screen and (max-width : 767px) {
.slider-banner-image {
    height: 400px;
}
.slider.slider-nav.thumb-image {
    padding: 0px 20px 0;
    margin: 10px 0px 0;
    top: 487px;
    left: 70px;
}
.slider-nav .slick-slide.thumbnail-image .thumbImg {
  max-width: 140px;
  height: 80px;
}
.slick-prev.slick-arrow {
    background-position: center 10px;
}
.slick-next.slick-arrow {
    background-position: center 10px, center;
}
.slider-nav .slick-slide span {
    font-size: 12px;
    white-space: normal;
}
}

@media screen and (max-width: 580px) {
  .slider-banner-image {
      height:340px;
  }
}

@media screen and (max-width : 480px) {
  .slider-banner-image {
      height:280px;
  }
  .slider.slider-nav.thumb-image {
    padding: 0px 20px 0;
    margin: 10px 0px 0;
    top: 400px;
    left: 0px;
  }
}
///////

.slider-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media (min-width: 601px) and (max-width: 1100px) {
    align-items: flex-start;
  }
  a {
    display: block;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    margin: 0 auto;
    @media (min-width: 601px) and (max-width: 1100px) {
      margin: 0;
    }
  }
  .popup-nav-container .slick-current img {
    border-radius: 5px;
  }
  .popup-nav-container {

  }
  
  .popup-slider-main {
    width: 100%;
    a {
        width: 307px;
        height: 400px;
    }
  }
  .popup-slider-nav {
    width: 100%;
    margin-top: 47px;
  }
  
  .popup-main-container {
    width: 100%; 
  }
  
  .popup-nav-container a {
    height: 135px;
  }
  
  .popup-nav-container .slick-slide {
    margin-bottom: 18px;
    margin-right: 35px;
    a {
        width: 99px; 
        height: 66px;
    }
  }

}

.slider-page-product {
  .slick-dots {
    text-align: left;
    li {
      width: 151px;
      height: 3px;
      margin: 0;
      @media (min-width: 280px) and (max-width: 600px) {
        width: 100px;
      }
      &:not(:last-child) {
        margin-right: 31px;
        @media (min-width: 280px) and (max-width: 600px) {
          margin-right: 20px;
        }
      }
      button {
        width: 151px;
        @media (min-width: 280px) and (max-width: 600px) {
          width: 100px;
        }
        &:before {
          background-color: black;
          content: '';
          width: 151px;
          height: 3px;
          transition: 0.3s ease;
          top: 50%;
          transform: translateY(-50%);
          @media (min-width: 280px) and (max-width: 600px) {
            width: 100px;
          }
        }
      }
    }
  }
  .slick-dots li.slick-active button:before {
    background-color: #1189FF;
    height: 6px;
  }
  .slick-prev, .slick-next{
    top: 45%;
    &:before {
      content: '';
      position: absolute;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 26px;
      height: 52px;
    }
  }
  .slick-prev:before {
    background-image: url(../img/breadcrumbs-arrow.svg);
    left: -40px;
    transform: rotate(180deg);
  }
  .slick-next:before {
    background-image: url(../img/breadcrumbs-arrow.svg);
    right: 0px;
  }
}