.title {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    @media (min-width: 280px) and (max-width: 600px) {
        font-size: 18px;
        line-height: 26px;
    }
    @media (min-width: 601px) and (max-width: 830px) {
        font-size: 25px;
        line-height: 36px;
    }
    &_white {
        color: white;
    }
    &:before {
        content: '';
        position: absolute;
        border: 3px solid #236FBA;
        width: 445px;
        bottom: -36px;
        @media (min-width: 280px) and (max-width: 600px) {
            bottom: -15px;
            border: 2px solid #236FBA;
            width: 217px;
        }
        @media (min-width: 601px) and (max-width: 830px) {
            border: 2px solid #236FBA;
            width: 307px;
            bottom: -14px;
        }
    }
    &_middle {
        &:before {
            width: 597px;
        }
    }
    &_big {
        &:before {
            width: 647px;
        }
    }
    &_company {
        &:before {
            width: 312px;
            bottom: -22px;
        }
    }
    &_certificates {
        &:before {
            width: 644px;
            bottom: -22px;
        }
    }
    &_partners {
        &:before {
            width: 493px;
            bottom: -22px;
        }
    }
    &_contact {
        &:before {
            width: 529px;
            bottom: -22px;
        }
    }
    &_basket {
        &:before {
            width: 407px;
            bottom: -22px;
        }
    }
    &_none {
        &:before {
            display: none;
        }
    }
    &_production {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            border: 3px solid #236FBA;
            width: 100%;
            bottom: -36px;
        }
        &-info {
            &:before {
                bottom: -14px;
            } 
        }
    }
    &__filter {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 135.69%;
        letter-spacing: 0.01em;
        text-decoration-line: underline;
        color: #000000;
        margin-right: 40px;
        &:hover {
        opacity: 0.8;
        }
    }
    &__button {
        &-hide {
            display: block;
            background-image: url(../img/btn-hide.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 17px;
            height: 8px;
            transition: 0.3s ease;
            cursor: pointer;
            &.active{
                transform: rotate(180deg);
            }
        }
    }
    &__info {
        margin-top: 40px;
        font-family: 'Noto Sans',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 156.9%;
        color: rgba(0, 0, 0, 0.7);
        p {
            max-width: 1047px;
        }
        h3 {
            font-weight: bold;
            font-size: 18px;
            color: #000000;
            margin: 28px 0;
        }
        ol {
            counter-reset:  info-title;
        }
        li {
            &::before {
                content: counter(info-title) '. ';
                counter-increment: info-title;
            }
        }
        .title__info-hidden {
            position: relative;
            padding-bottom: 30px;
        }
    }
}