.title {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    @media (min-width: 280px) and (max-width: 600px) {
        font-size: 18px;
        line-height: 26px;
    }
    @media (min-width: 1200px) and (max-width: 1601px) {
        font-size: 18px;
        line-height: 26px;
    }
    @media (min-width: 601px) and (max-width: 1199px) {
        font-size: 14px;
        line-height: 20px;
    }
    &_white {
        color: white;
    }
    &:before {
        content: '';
        position: absolute;
        border-bottom: 6px solid #236FBA;
        width: 445px;
        bottom: -36px;
        @media (min-width: 280px) and (max-width: 600px) {
            bottom: -15px;
            border: 2px solid #236FBA;
            width: 217px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            border-bottom: 2px solid #236FBA;
            width: 289.97px;
            bottom: -14px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 202.98px;
            bottom: -12px;
            border-bottom: 2px solid #236FBA;
        }
    }
    &_middle {
        &:before {
            width: 597px;
            @media (min-width: 280px) and (max-width: 600px) {
                width: 299px;
            }
            @media (min-width: 601px) and (max-width: 830px) {
                width: 400px;
            }
            @media (min-width: 601px) and (max-width: 1601px) {
                width: 298px;
            }
        }
    }
    &_big {
        &:before {
            width: 647px;
            @media (min-width: 280px) and (max-width: 600px)  {
                width: 300px;
            }
            @media (min-width: 601px) and (max-width: 1601px) {
                width: 351px;
            }
        }
    }
    &_company {
        &:before {
            width: 312px;
            bottom: -22px;
        }
    }
    &_certificates {
        &:before {
            width: 644px;
            bottom: -22px;
        }
    }
    &_partners {
        &:before {
            width: 493px;
            bottom: -22px;
        }
    }
    &_contact {
        &:before {
            width: 529px;
            bottom: -22px;
            @media (min-width: 280px) and (max-width: 600px) {
                width: 300px;
            }
        }
    }
    &_basket {
        &:before {
            width: 407px;
            bottom: -22px;
            @media (min-width: 280px) and (max-width: 600px) {
                width: 300px;
            }
        }
    }
    &_none {
        &:before {
            display: none;
        }
    }
    &__contain {
        display: flex;
        align-items: center;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-top: 24px;
            flex-direction: column;
            align-items: flex-start;
        } 
    }
    &_production {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @media (min-width: 280px) and (max-width: 600px) {
            flex-direction: column;
            align-items: flex-start;
        }
        &:before {
            content: '';
            position: absolute;
            border-bottom: 3px solid #236FBA;
            width: 100%;
            bottom: -36px;
            @media (min-width: 280px) and (max-width: 600px) {
                border: 2px solid #236FBA;
                bottom: -20px;
            }
        }
        &-info {
            &:before {
                bottom: -14px;
            }
            @media (min-width: 280px) and (max-width: 600px) {
                flex-direction: row;
            } 
        }
    }
    &__filter {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 135.69%;
        letter-spacing: 0.01em;
        text-decoration-line: underline;
        color: #000000;
        margin-right: 40px;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 12px;

        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            font-size: 12px;
            margin-right: 22px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            font-size: 8px;
            margin-right: 15px;
        }
        &:hover {
        opacity: 0.8;
        }
    }
    &__button {
        width: 263px;
        height: 45px;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-top: 16px;
            width: 212px;
            height: 37px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            width: 170.99px;
            height: 29.26px;
            font-size: 10px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 120px;
            height: 20px;
            font-size: 8px;
        }
        &-hide {
            display: block;
            background-image: url(../img/btn-hide.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 17px;
            height: 8px;
            transition: 0.3s ease;
            cursor: pointer;
            @media (min-width: 280px) and (max-width: 600px) {
                width: 10px;
                height: 4.29px;
            }
            &.active{
                transform: rotate(180deg);
            }
        }
    }
    &__info {
        margin-top: 40px;
        font-family: 'Noto Sans',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 156.9%;
        color: rgba(0, 0, 0, 0.7);
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 10px;
            line-height: 156.9%;
        }
        p {
            max-width: 1047px;
        }
        h3 {
            font-weight: bold;
            font-size: 18px;
            color: #000000;
            margin: 28px 0;
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 12px; 
            }
        }
        ol {
            counter-reset:  info-title;
        }
        li {
            &::before {
                content: counter(info-title) '. ';
                counter-increment: info-title;
            }
        }
        .title__info-hidden {
            position: relative;
            padding-bottom: 30px;
        }
    }
}