.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    @media (max-width: 600px) {
        padding: 0 15px;
    }
    @media (min-width: 1200px) and (max-width: 1601px) {
        max-width: 1040px;
        padding: 0;
    }
    @media (min-width: 601px) and (max-width: 1199px) {
        padding: 0;
        max-width: 728px;
    }
}