.product-pads {
    position: relative;
    &__nav {
        display: flex;
        border-bottom: 2px solid #236FBA;
        a {
            padding: 20px 52px;
            display: block;
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            cursor: pointer;
            border: 2px solid white;
            border-bottom: none;
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 12px;
                line-height: 15px;
                padding: 11px 18px;
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                font-size: 12px;
                line-height: 15px;
                padding: 13px 33px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 8px;
                line-height: 10px;
                padding: 9px 23px;
            }
            &.active {
                border: 2px solid #236FBA;
                border-bottom: none;
            }
        }
    }
    &__info {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        padding: 80px 0 90px;
        border-bottom: 2px solid #236FBA;
        display: flex;
        flex-wrap: wrap;
        display: none;
        @media (min-width: 280px) and (max-width: 600px) {
            padding-bottom: 40px;
        }
        @media (min-width: 1201px) and (max-width: 1601px)  {
            padding: 50px 0 60px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            padding: 36px 0 32px;
        }
        &.active {
            display: flex;
        }
        &:before {
            content: '';
            position: absolute;
            background-image: url(../img/product-page/back.png);
            background-size: cover;
            width: 488px;
            height: 714px;
            right: 0;
            bottom: 27px;
            pointer-events: none;
            display: none;
            @media (min-width: 280px) and (max-width: 600px) {
                display: none;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                display: none;
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                width: 350px;
                height: 593px;
            }
        }
        h3 {
            font-weight: bold;
            font-size: 36px;
            line-height: 44px;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 43px;
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 20px;
                line-height: 24px;
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 30px;
            }
            @media (min-width: 601px) and (max-width: 1199px)  {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 20px;
            }
        }
        .passport {
            position: relative;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            text-decoration-line: underline;
            text-transform: uppercase;
            color: #1189FF;
            margin-left: 51px;
            cursor: pointer;
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 12px;
                line-height: 15px;
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                font-size: 12px;
                line-height: 15px;
                margin-left: 34px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 8px;
                line-height: 10px;
                margin-left: 23px;
            }
            &:before {
                content: '';
                position: absolute;
                background-image: url(../img/book.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                height: 34px;
                width: 34px;
                left: -51px;
                top: 50%;
                transform: translateY(-50%);
                @media (min-width: 1201px) and (max-width: 1601px) {
                    width: 22.04px;
                    height: 22.04px;
                    left: -34px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    width: 15.43px;
                    height: 15.43px;
                    left: -23px;
                }
            }
            &:hover {
                opacity: 0.8;
            }
        }
        h4 {
            margin: 46px 0 32px;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            color: #000000;
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 14px;
                line-height: 17px;
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                font-size: 13px;
                line-height: 16px;
                margin: 30px 0 20px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 10px;
                line-height: 12px;
                margin: 20px 0 15px;
            }
        }
        p {
            max-width: 1191px;
            font-family: 'Noto Sans',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 156.9%;
            color: rgba(0, 0, 0, 0.7);
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 12px;
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                font-size: 12px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 10px;
            }
        }
    }
    .struct {
        width: 50%;
        @media (min-width: 280px) and (max-width: 1450px) {
            width: 100%;
        }
        ul {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 88px;
            @media (min-width: 280px) and (max-width: 600px) {
                max-height: none;
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                max-height: 64px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                max-height: 83px;
            }
            li {
                font-family: 'Noto Sans',sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: rgba(0, 0, 0, 0.7);
                max-width: 414px;
                list-style: disc;
                margin-left: 15px;
                @media (min-width: 1201px) and (max-width: 1601px) {
                    font-size: 12px;
                    line-height: 16px;
                    max-width: 244px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    font-size: 10px;
                    line-height: 14px;
                    max-width: 170px;
                }
            }
        }
        .char {
            display: block;
            background-image: url(../img/product-page/char.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 724px;
            height: 130px;
            margin-top: 46px;
            @media (min-width: 280px) and (max-width: 600px) {
                width: 100%;
                background-size: contain;
                height: 63px;
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                width: 469.43px;
                height: 84.29px;
                margin-top: 30px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 328.6px;
                height: 59px;
                margin-top: 20px;
            }
        }
        .table {
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../img/product-page/table.png);
            width: 724px;
            height: 448px;
            @media (min-width: 280px) and (max-width: 600px) {
                background-size: contain;
                width: 100%;
                height: 212px;
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                width: 469.43px;
                height: 290.47px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 328.6px;
                height: 203.33px;
            }
        }
    }
    .infomain {
        width: 100%;
    }
    .device {
        width: 50%;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
        }
        a {
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../img/product-page/sheme.png); 
            width: 724px;
            height: 795px;
            @media (min-width: 280px) and (max-width: 600px) {
                background-size: contain;
                width: 100%;
                height: 379px;
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                width: 469.43px;
                height: 515.46px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 328.6px;
                height: 360.82px;
            }
        }
    }
    .marking {
        width: 50%;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
        }
        h5 {
            font-family: 'Noto Sans',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 12px;
                line-height: 16px;
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                font-size: 12px;
                line-height: 16px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 10px;
                line-height: 14px;
            }
        }
        ol {
            margin-top: 32px;
            font-family: 'Noto Sans',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 156.9%;
            color: rgba(0, 0, 0, 0.7);
            counter-reset:  marking;
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 12px;
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                font-size: 12px;
                margin-top: 20px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 10px;
                margin-top: 14px;
            }
            li {
                &::before {
                    content: counter(marking) '. ';
                    counter-increment: marking;
                }
            }
        }
    }
    .note {
        width: 50%;
        @media (min-width: 280px) and (max-width: 1450px) {
            width: 100%;
        }
        ul {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            li {
                font-family: 'Noto Sans',sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 156.9%;
                color: rgba(0, 0, 0, 0.7);
                list-style: disc;
                margin-left: 15px;
                max-width: 724px;
                @media (min-width: 280px) and (max-width: 600px) {
                    font-size: 12px;
                }
                @media (min-width: 1201px) and (max-width: 1601px) {
                    font-size: 12px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    font-size: 10px;
                }
            }
        }
    }
    .attention {
        width: 100%;
        p {
            max-width: 1107px;
        }
    }
    //char
    &__char {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        padding-top: 60px;
        padding-bottom: 93px;
        display: none;
        border-bottom: 2px solid #236FBA;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 14px;
            line-height: 17px;
            padding-top: 43px;
            padding-bottom: 80px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            font-size: 13px;
            line-height: 16px;
            padding-top: 30px;
            padding-bottom: 60px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            font-size: 10px;
            line-height: 12px;
            padding-top: 25px;
            padding-bottom: 44px;
        }
        &.active {
            display: block;
        }
        &:before {
            content: '';
            position: absolute;
            background-image: url(../img/product-page/back2.png);
            background-size: cover;
            width: 468px;
            height: 618px;
            right: 0;
            bottom: -50px;
            @media (min-width: 280px) and (max-width: 600px) {
                display: none;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                display: none;
            }
        }
    }
    &__charelem {
        padding: 23px 10px 23px 0;
        display: flex;
        justify-content: space-between;
        max-width: 908px;
        position: relative;
        @media (min-width: 1200px) and (max-width: 1601px) {
            padding: 15px 5px 15px 0;
            max-width: 590.2px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            padding: 10px 5px 10px 0;
            max-width: 349px;
        }
        &:before {
            content: '';
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;
            border: 1px solid #000000;
        }
    }
    //reviews
    &__reviews {
        padding: 80px 0 0;
        display: flex;
        flex-wrap: wrap;
        @media (min-width: 1200px) and (max-width: 1601px) {
            padding: 60px 0 0;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            padding: 40px 0 0;
        }
        .title {
            width: 100%;
            margin-bottom: 50px;
            @media (min-width: 280px) and (max-width: 600px) {
                margin-bottom: 24px;
            }
        }
        &-write {
            width: 22%;
            @media (min-width: 280px) and (max-width: 600px) {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
        &-watch {
            width: 78%;
            @media (min-width: 280px) and (max-width: 600px) {
                width: 100%;
                margin-top: 50px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 100%;
            }
        }
    }
    .reviews__reviewsinfo {
        @media (min-width: 601px) and (max-width: 1199px) {
            order: 2;
            width: 25%;
        }
    }
    &__rating {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
        }
        p {
            font-weight: 600;
            font-size: 64px;
            line-height: 78px;
            text-transform: uppercase;
            color: #000000;
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 48px;
                line-height: 59px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                font-size: 46px;
                line-height: 56px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 32px;
                line-height: 39px;
            }
        }
        a {
            display: inline-block;
            background-image: url(../img/reviews/card/star.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 26px;
            height: 25px;
            @media (min-width: 280px) and (max-width: 600px) {
                width: 19px;
                height: 19px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                width: 18.69px;
                height: 17.97px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 13.08px;
                height: 12.58px;
            }
            &:not(:last-child) {
                margin-right: 6px;
                @media (min-width: 1200px) and (max-width: 1601px) {
                    margin-right: 4px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    margin-right: 3px;
                }
            }
        }
        span {
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: rgba(0, 0, 0, 0.7);
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 10px;
                line-height: 12px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                font-size: 12px;
                line-height: 15px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 8px;
                line-height: 10px;
            }
        }
    }
    &__stars-void {
        margin: 80px 0 36px;
        @media (min-width: 280px) and (max-width: 600px) {
            margin: 55px 0 46px;
            width: 160px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            margin: 57px 0 50px;
            width: 160px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 110px;
            margin: 40px 0 0;
        }
        a {
            display: inline-block;
            background-image: url(../img/reviews/card/star-void.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 33px;
            height: 33px;
            @media (min-width: 280px) and (max-width: 600px) {
                width: 23px;
                height: 23px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                width: 23.72px;
                height: 23.72px;
            }
            @media (min-width: 601px) and (max-width: 1199px)  {
                width: 15.6px;
                height: 16.6px;
            }
            &:not(:last-child) {
                margin-right: 8px;
                @media (min-width: 280px) and (max-width: 600px) {
                    margin-right: 6px;
                }
                @media (min-width: 1200px) and (max-width: 1601px) {
                    margin-right: 5px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    margin-right: 4px;
                }
            }
        }
    }
    &__rating-static {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            width: 100%;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 25%;
            order: 1;
        }
        p {
            &:not(:last-child) {
                margin-bottom: 14px;
                @media (min-width: 1200px) and (max-width: 1601px) {
                    margin-bottom: 10px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    margin-bottom: 7px;
                }
            }
            width: 42px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                right: -230px;
                width: 216px;
                border: 5px solid rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                @media (min-width: 1200px) and (max-width: 1601px) {
                    width: 155px;
                    right: -165px;
                    border: 4px solid rgba(0, 0, 0, 0.2);
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    width: 108px;
                    right: -115px;
                    border: 3px solid rgba(0, 0, 0, 0.2);
                }
            }
        }
        a {
            display: inline-block;
            background-image: url(../img/reviews/card/star.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 18px;
            height: 17px;
            margin-left: 9px;
            @media (min-width: 1200px) and (max-width: 1601px) {
                width: 12.94px;
                height: 12.22px;
                margin-left: 6px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 9.06px;
                height: 8.55px;
                margin-left: 4px;
            }
        }
        .ratio5 {
            &::after {
                content: '';
                position: absolute;
                right: -184px;
                width: 170px;
                border: 7px solid #1189FF;
                border-radius: 5px;
                @media (min-width: 1200px) and (max-width: 1601px) {
                    width: 123px;
                    right: -133px;
                    border: 6px solid #1189FF;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    width: 86px;
                    right: -93px;
                    border: 5px solid #1189FF;
                }
            }
        }
        .ratio4 {
            &::after {
                content: '';
                position: absolute;
                right: -53px;
                width: 39px;
                border: 7px solid #1189FF;
                border-radius: 5px;
                @media (min-width: 1200px) and (max-width: 1601px) {
                    width: 28px;
                    right: -38px;
                    border: 6px solid #1189FF;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    width: 19px;
                    right: -26px;
                    border: 5px solid #1189FF;
                }
            }
        }
        .ratio3 {
            &::after {
                content: '';
                position: absolute;
                right: -71px;
                width: 57px;
                border: 7px solid #1189FF;
                border-radius: 5px;
                @media (min-width: 1200px) and (max-width: 1601px) {
                    width: 40px;
                    right: -50px;
                    border: 6px solid #1189FF;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    width: 28px;
                    right: -35px;
                    border: 5px solid #1189FF;
                }
            }
        }
    }
    &__reviews {
        display: none;
        border-bottom: 2px solid #236FBA;
        &.active {
            display: flex;
        }
        &:before {
            content: '';
            position: absolute;
            background-image: url(../img/product-page/back3.png);
            background-size: cover;
            width: 100%;
            height: 1993px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            z-index: -1;
            @media (min-width: 280px) and (max-width: 600px) {
                display: none;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                display: none;
            }
        }
        &-watch {
            padding-left: 60px;
            padding-bottom: 170px;
            @media (min-width: 280px) and (max-width: 600px) {
                padding-left: 0;
                padding-bottom: 40px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                padding-left: 70px;
                padding-bottom: 70px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                padding-left: 0;
                padding-bottom: 50px;
            }
        }
        &-name {
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            display: flex;
            align-items: center;
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 16px;
                line-height: 20px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                font-size: 16px;
                line-height: 20px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 12px;
                line-height: 15px;
            }
            a {
                width: 103px;
                height: 103px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background: #C4C4C4;
                border-radius: 50%;
                font-size: 48px;
                line-height: 59px;
                margin-right: 36px;
                @media (min-width: 280px) and (max-width: 600px) {
                    width: 56px;
                    height: 56px;  
                    font-size: 29.6471px;
                    line-height: 36px;
                    margin-right: 21px;
                }
                @media (min-width: 1200px) and (max-width: 1601px) {
                    width: 74.03px;
                    height: 74.03px;
                    font-size: 34.5px;
                    line-height: 42px;
                    margin-right: 25px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    width: 51.82px;
                    height: 51.82px;
                    font-weight: 600;
                    font-size: 24.15px;
                    margin-right: 18px;
                }
            }
        }
        &-review {
            border: 1px solid #000000;
            border-radius: 15px;
            background-color: white;
            padding: 40px;
            max-width: 908px;
            margin: 28px 0 34px;
            font-family: 'Noto Sans',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 156.9%;
            color: rgba(0, 0, 0, 0.7);
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 12px;
                padding: 19px 16px 32px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                font-size: 12px;
                padding: 28px;
                margin: 20px 0 24px;
                max-width: 652.63px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                margin: 13px 0 20px;
                font-size: 10px;
                padding: 20px;
                max-width: initial;
            }
            p {
                &:not(:last-child) {
                    margin-bottom: 40px;
                    @media (min-width: 280px) and (max-width: 600px) {
                        margin-bottom: 19px;
                    }
                    @media (min-width: 1200px) and (max-width: 1601px) {
                        margin-bottom: 28px;
                    }
                    @media (min-width: 601px) and (max-width: 1199px) {
                        margin-bottom: 17px;
                    }
                }
            }
            h5 {
                font-weight: bold; 
            }
        }
        &-img {
            @media (min-width: 280px) and (max-width: 600px) {
                display: flex;
            }
            a {
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 203px;
                height: 150px;
                border-radius: 8px;
                @media (min-width: 280px) and (max-width: 600px) {
                    width: 163px;
                    height: 118px;
                }
                @media (min-width: 1200px) and (max-width: 1601px) {
                    width: 145.91px;
                    height: 107.81px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    width: 102.13px;
                    height: 75.47px;
                }
                &:not(:last-child) {
                    margin-right: 36px;
                    @media (min-width: 280px) and (max-width: 600px) {
                        margin-right: 10px;
                    }
                    @media (min-width: 1200px) and (max-width: 1601px) {
                        margin-right: 25px;
                    } 
                    @media (min-width: 601px) and (max-width: 1199px) {
                        margin-right: 18px;
                    }
                }
            }
        }
        &-approval {
            margin-top: 40px;
            @media (min-width: 280px) and (max-width: 600px) {
                margin-top: 30px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                margin-top: 30px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                margin-top: 20px;
            }
            .ok {
                width: 100px;
                height: 50px;
                background: linear-gradient(75.96deg, #1880E8 0%, #5AADFF 100%);
                border-radius: 11px;
                display: inline-flex;
                font-family: 'Montserrat',sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 156.9%;
                color: #FFFFFF;
                justify-content: center;
                align-items: center;
                @media (min-width: 280px) and (max-width: 600px) {
                    width: 59px;
                    height: 29px;
                    font-size: 14px;
                }
                @media (min-width: 1200px) and (max-width: 1601px) {
                    width: 71.88px;
                    height: 35.94px;
                    font-size: 13px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    width: 50.31px;
                    height: 25.16px;
                    font-size: 9px;
                }
                span {
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url(../img/ok.svg);
                    margin-right: 16px;
                    @media (min-width: 280px) and (max-width: 600px) {
                        width: 15px;
                        height: 15px;
                        margin-right: 13px;
                    }
                    @media (min-width: 1200px) and (max-width: 1601px) {
                        width: 21.56px;
                        height: 21.56px;
                        margin-right: 7px;
                    }
                    @media (min-width: 601px) and (max-width: 1199px) {
                        width: 15.09px;
                        height: 15.09px;
                        margin-right: 6px;
                    }
                }
            }
            .notok {
                display: inline-flex;
                width: 100px;
                height: 50px;
                justify-content: center;
                align-items: center;
                span {
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url(../img/ok.svg);
                    margin-right: 16px;
                    filter: invert(100%);
                    transform: rotateX(180deg);
                    @media (min-width: 280px) and (max-width: 600px) {
                        width: 15px;
                        height: 15px;
                        margin-right: 13px;
                    }
                    @media (min-width: 1200px) and (max-width: 1601px) {
                        width: 21.56px;
                        height: 21.56px;
                        margin-right: 7px;
                    }
                    @media (min-width: 601px) and (max-width: 1199px) {
                        width: 15.09px;
                        height: 15.09px;
                        margin-right: 6px;
                    }
                }
            }
        }
        &-comment {
            margin-bottom: 100px;
            @media (min-width: 280px) and (max-width: 600px) {
                margin-bottom: 60px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                margin-bottom: 70px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                margin-bottom: 50px;
            }
        }
    }
    &__morebtn {
        width: 243px;
        height: 67px;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 156.9%;
        color: #FFFFFF;
        text-transform: none;
        display: flex;
        align-items: center;
        @media (min-width: 280px) and (max-width: 600px) {
            margin: 0 auto;
            width: 100%;
            height: 48px;
            font-size: 14px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            width: 174.66px;
            height: 48.16px;
            font-size: 14px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 181px;
            height: 38px;
            margin: 0 auto;
            font-size: 14px;
        }
    }

    //styles-info
    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media (min-width: 280px) and (max-width: 600px) {
            max-height: none;
        }
        li {
            font-family: 'Noto Sans',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.7);
            list-style: disc;
            margin-left: 15px;
            @media (min-width: 1201px) and (max-width: 1601px) {
                font-size: 12px;
                line-height: 16px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 10px;
                line-height: 14px;
            }
        }
    }

    ol {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media (min-width: 280px) and (max-width: 600px) {
            max-height: none;
        }
        li {
            font-family: 'Noto Sans',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.7);
            list-style: disc;
            margin-left: 15px;
            @media (min-width: 1201px) and (max-width: 1601px) {
                font-size: 12px;
                line-height: 16px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 10px;
                line-height: 14px;
            }
        }
    }
}
//comment-form
.comment-form {
    @media (min-width: 601px) and (max-width: 1199px) {
        order: 3;
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    h4 {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 40px;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 16px;
            line-height: 20px; 
            margin-bottom: 20px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            font-size: 16px;
            line-height: 20px; 
            margin-bottom: 25px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 15px;
        }
    }
    input {
        &:not([type=submit]){
            height: 61px;
            width: 100%;
            margin-bottom: 20px;
            background: #FFFFFF;
            border: 1px solid #1189FF;
            outline: none;
            padding: 22px;
            @media (min-width: 280px) and (max-width: 600px) {
                height: 61px;
                margin-bottom: 28px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                height: 39.52px;
                margin-bottom: 12px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 45%;
                height: 25px;
                margin-bottom: 15px;
                padding:8px 10px;
            }
            &::placeholder {
                font-family: 'Montserrat',sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: rgba(0, 0, 0, 0.7);   
                @media (min-width: 280px) and (max-width: 600px) {
                    font-size: 14px;
                    line-height: 17px;
                }
                @media (min-width: 1200px) and (max-width: 1601px) {
                    font-size: 10px;
                    line-height: 12px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    font-size: 8px;
                    line-height: 10px;
                }                 
            }
        }
    }
    textarea {
        width: 100%;
        height: 250px;
        resize: none;
        outline: none;
        background: #FFFFFF;
        border: 1px solid #1189FF;
        margin-bottom: 30px;
        padding: 22px;
        @media (min-width: 280px) and (max-width: 600px) {
            height: 189px;
            margin-bottom: 35px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            height: 161.97px;
            margin-bottom: 20px;  
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 100%;
            height: 75px;
            margin-bottom: 20px;
            padding:8px 10px;
        }
        &::placeholder {
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: rgba(0, 0, 0, 0.7); 
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 14px;
                line-height: 17px;                
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                font-size: 10px;
                line-height: 12px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 8px;
                line-height: 10px;                   
            }                   
        }
    }
    input[type=submit] {
        border: none;
        width: 100%;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #FFFFFF;
        text-transform: none;
        cursor: pointer;
        margin-bottom: 82px;
        height: 74px;
        display: flex;
        align-items: center;
        @media (min-width: 280px) and (max-width: 600px) {
            height: 44px;
            font-size: 14px;
            line-height: 17px;
            padding: 0;
            justify-content: center;
            margin: 0 0 46px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            height: 39.52px; 
            font-size: 12px;
            line-height: 15px;               
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 134px;
            height: 26px;
            font-size: 9px;
            line-height: 156.9%;
        }
    } 
}