.product-page-content {
    padding-bottom: 43px;
    @media (min-width: 280px) and (max-width: 600px) {
        padding-bottom: 60px;
    }
    @media (min-width: 1201px) and (max-width: 1601px) {
        padding-bottom: 37px;
    }
    @media (min-width: 601px) and (max-width: 1199px) {
        padding-bottom: 50px;
    }
    .wrapper  {
        display: flex;
        justify-content: space-between;
        @media (min-width: 280px) and (max-width: 600px) {
            flex-wrap: wrap;
        }
    }
    &__slider {
        width: 48%;
        padding-right: -100px;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
        }
    }
    .contain {
        overflow:hidden;
    }
}
.product-item {
    width: 48%;
    margin-top: 47px;
    @media (min-width: 280px) and (max-width: 600px) {
        width: 100%;
        background-color: white;
        margin-top: 0;
    }
    @media (min-width: 1201px) and (max-width: 1601px) {
        margin-top: 22px;
    }
    @media (min-width: 601px) and (max-width: 1199px) {
        margin-top: 12px;
    }
    &__content {
        margin-top: 76px;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-top: 45px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            margin-top: 49px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            margin-top: 35px;
        }
    }
    .cat {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 159.4%;
        color: #000000; 
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 12px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            font-size: 12px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            font-size: 9px;
        }
        span {
            font-weight: bold;  
        }
    }
    .inf {
        font-family: 'Noto Sans',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.7);
        max-width: 542px;
        margin: 32px 0 46px;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 12px;
            line-height: 16px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            font-size: 12px;
            line-height: 16px;
            margin: 20px 0 30px;
            max-width: 352.3px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            font-size: 9px;
            line-height: 12px;
            margin: 14px 0 20px;
            max-width: 270px;
        }
    }
    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 44px;
            text-align: center;
            text-transform: uppercase;
            color: #1189FF;
            text-shadow: 0px 0px 20px rgba(17, 137, 255, 0.3);
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 20px;
                line-height: 24px;
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                font-size: 24px;
                line-height: 29px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 16px;
                line-height: 20px;
            }
            &:last-child {
                margin-right: 250px;
                @media (min-width: 280px) and (max-width: 600px) {
                    margin-right: 0;
                }
                @media (min-width: 1201px) and (max-width: 1601px)  {
                    margin-right: 100px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    margin-right: 40px;
                }
            }
        }
    }
    &__ratio {
        text-align: right;
    }
    &__stars {
        width: 113px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;
        a {
            display: inline-flex;
            background-image: url(../img/reviews/card/star.png);
            width: 19px;
            height: 19px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__review {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        text-decoration-line: underline;
        color: rgba(0, 0, 0, 0.7);
    }
    &__buy {
        display: flex;
        justify-content: space-between;
        margin: 42px 0 51px;
        align-items: center;
        @media (min-width: 280px) and (max-width: 1450px) {
            flex-wrap: wrap;
        }
        @media (min-width: 280px) and (max-width: 600px) {
            margin: 45px 0 27px;
            align-items: flex-start;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            margin: 30px 0 30px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            margin: 20px 0 20px;
        }
    }
    &__num {
        display: flex;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 18px;
            line-height: 22px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            font-size: 13px;
            line-height: 16px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            font-size: 9px;
            line-height: 11px;
        }
        a {
            display: inline-flex;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #000000;
            @media (min-width: 1201px) and (max-width: 1601px) {
                width: 31.2px;
                height: 31.2px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 21.84px;
                height: 21.84px;
            }
            @media (min-width: 280px) and (max-width: 600px) {
                width: 48px;
                height: 44px;
            }
            &:last-child{
                border-left: none;
                cursor: pointer;
            }
            &:first-child {
                border-right: none;
                cursor: pointer;
            }
        }
        input {
            border-left: none !important;
        }   
    }
    &__button {
        width: 186px;
        height: 48px;
        display: flex;
        align-items: center;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
        @media (min-width: 1201px) and (max-width: 1601px) {
            width: 120.9px;
            height: 31.2px;
            font-size: 13px;
            line-height: 16px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 84.63px;
            height: 21.84px;
            font-size: 9px;
            line-height: 11px;
        }
        @media (min-width: 280px) and (max-width: 600px) {
            width: 162px;
            height: 44px;
            font-size: 16px;
            line-height: 20px;
        }
    }
    &__select {
        width: 352px;
        height: 48px;
        @media (min-width: 1201px) and (max-width: 1601px) {
            width: 228.8px;
            height: 31.2px;
            font-size: 13px;
            line-height: 16px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 160.16px;
            height: 21.84px;
            font-size: 9px;
            line-height: 11px;
        }
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
            height: 48px;
            font-size: 16px;
            line-height: 20px;
            margin-top: 27px;
        }
    }
    &__delivery {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 14px;
            line-height: 17px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            font-size: 13px;
            line-height: 16px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            font-size: 10px;
            line-height: 12px;
        }
        span {
            font-weight: 500;
            text-decoration: underline;
            margin-left: 5px;
        }
    }
}

//wordpress element css

table.variations {
    margin-bottom: 20px;
    width: 100%;
    margin-top: 20px;
    @media (min-width: 280px) and (max-width: 600px) {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    @media (min-width: 1201px) and (max-width: 1601px) {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    @media (min-width: 601px) and (max-width: 1199px) {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    td.label {
        width: 20%;
    }
    label {
        font-family: 'Montserrat',sans-serif !important;
        font-style: normal;
        font-weight: bold !important;
        font-size: 18px !important;
        line-height: 22px !important;
        color: #000000 !important;
        margin-right: 40px;
        white-space: nowrap;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 12px !important;
            line-height: 16px !important;
            margin-right: 10px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            font-size: 16px !important;
            line-height: 20px !important;
            margin-right: 20px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            font-size: 12px !important;
            line-height: 16px !important;
            margin-right: 10px;
        }
    }
    td.value {
        position: relative;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        padding-top: 30px;
        @media (min-width: 280px) and (max-width: 600px) {
            padding-top: 10px; 
            font-size: 10px;
            line-height: 16px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            padding-top: 15px; 
            font-size: 14px;
            line-height: 18px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            padding-top: 10px; 
            font-size: 10px;
            line-height: 16px;
        }
    }
    .variable-item-contents {
        text-align: center;
        transition: 0.3s ease;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-top: 5px;
        }
    }
    ul.variable-items-wrapper.button-variable-wrapper {
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
        @media (min-width: 280px) and (max-width: 600px) {
            flex-direction: column;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            flex-direction: column;
        }
    }
    li.variable-item.button-variable-item {
        padding: 15px 10px;
        min-width: 100px;
        border: none;
        box-shadow: none;
        height: 52px;
        position: relative;
        transition: 0.3s ease;
        cursor: pointer;
        margin-right: 20px;
        @media (min-width: 280px) and (max-width: 600px) {
            height: 40px;
            padding: 5px 3px;
            border: 1px solid #000;
            width: fit-content;
            margin-bottom: 5px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            height: 40px;
            padding: 10px 5px;
            width: fit-content;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            height: 30px;
            padding: 5px 3px;
        }
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            border-bottom: 2px solid #000000;
            bottom: 1px;
            z-index: -1;
            left: 0;
            transition: 0.3s ease;
        }
    }
    li.variable-item.button-variable-item.selected {
        border: none;
        box-shadow: none;
        @media (min-width: 280px) and (max-width: 600px) {
            border: 1px solid #1189FF;
            background-color: #1189FF;
            color: white;
        }
        .variable-item-contents {
            font-weight: bold;
        }
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            border-bottom: 2px solid #1189FF;
            bottom: 1px;
            z-index: -1;
        }
    }
    span.woo-selected-variation-item-name {
        display: none;
    }
}
.reset_variations {
    width: 150px;
    height: 30px;
    font-size: 14px;
    line-height: 16px;
    margin: 30px 0 40px;
    @media (min-width: 280px) and (max-width: 600px) {
        height: 25px;
        width: 140px;
        font-size: 12px;
        line-height: 16px;  
        margin: 20px 0 30px;   
    }
    @media (min-width: 1201px) and (max-width: 1601px) {
        height: 25px;
        width: 140px;
        font-size: 12px;
        line-height: 16px;
        margin: 20px 0 30px;  
    }
    @media (min-width: 601px) and (max-width: 1199px) {
        height: 20px;
        width: 120px;
        font-size: 10px;
        line-height: 16px;
        margin: 15px 0 25px;  
    }
}
.product-item__finalprice {
    justify-content: center;
    margin-top: 20px;
}
.product-item__finalprice p {
    margin-right: 0 !important;
    font-size: 42px;
    line-height: 44px;
    @media (min-width: 280px) and (max-width: 600px) {
        font-size: 28px;
        line-height: 25px;
    }
    @media (min-width: 1201px) and (max-width: 1601px) {
        font-size: 34px;
        line-height: 29px;
    }
    @media (min-width: 601px) and (max-width: 1199px) {
        font-size: 28px;
        line-height: 20px;
    }
}
