.product-page-content {
    padding-bottom: 80px;
    @media (min-width: 280px) and (max-width: 600px) {
        padding-bottom: 40px;
    }
    .wrapper  {
        display: flex;
        justify-content: space-between;
        @media (min-width: 280px) and (max-width: 1200px) {
            flex-wrap: wrap;
        }
    }
    &__slider {
        width: 48%;
        padding-right: -100px;
        @media (min-width: 280px) and (max-width: 1200px) {
            width: 100%;
        }
    }
    .contain {
        overflow:hidden;
    }
}
.product-item {
    width: 48%;
    margin-top: 100px;
    @media (min-width: 280px) and (max-width: 1200px) {
        width: 100%;
        background-color: white;
        margin-top: 0;
    }
    &__content {
        margin-top: 76px;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-top: 45px;
        }
    }
    .cat {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #000000; 
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 12px;
        }
        span {
            font-weight: bold;  
        }
    }
    .inf {
        font-family: 'Noto Sans',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.7);
        max-width: 542px;
        margin: 32px 0 46px;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 12px;
            line-height: 16px;
        }
    }
    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 44px;
            text-align: center;
            text-transform: uppercase;
            color: #1189FF;
            text-shadow: 0px 0px 20px rgba(17, 137, 255, 0.3);
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
    &__ratio {
        text-align: right;
    }
    &__stars {
        width: 113px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;
        a {
            display: inline-flex;
            background-image: url(../img/reviews/card/star.png);
            width: 19px;
            height: 19px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__review {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        text-decoration-line: underline;
        color: rgba(0, 0, 0, 0.7);
    }
    &__buy {
        display: flex;
        justify-content: space-between;
        margin: 42px 0 51px;
        align-items: center;
        @media (min-width: 280px) and (max-width: 1450px) {
            flex-wrap: wrap;
        }
    }
    &__num {
        display: flex;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        @media (min-width: 280px) and (max-width: 1450px) {
            margin-bottom: 20px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            margin-bottom: 0;
        }
        a {
            display: inline-flex;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #000000;
            &:last-child{
                border-left: none;
                cursor: pointer;
            }
            &:first-child {
                border-right: none;
                cursor: pointer;
            }
        }   
    }
    &__button {
        height: 48px;
        display: flex;
        align-items: center;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
        @media (min-width: 280px) and (max-width: 1450px) {
            margin-bottom: 20px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            margin-bottom: 0;
        }
    }
    &__delivery {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 14px;
            line-height: 17px;
        }
        span {
            font-weight: 500;
            text-decoration: underline;
            margin-left: 5px;
        }
    }
}