.product-page-slider {
    padding: 148px 0 152px;
    @media (min-width: 280px) and (max-width: 600px) {
        padding: 50px 0 60px;
    }
    @media (min-width: 1200px) and (max-width: 1601px) {
        padding: 120px 0 100px;
    }
    @media (min-width: 601px) and (max-width: 1199px) {
        padding: 80px 0 60px;
    }
    &__title {
        margin-bottom: 67px;
        @media (min-width: 1200px) and (max-width: 1601px) {
            margin-bottom: 50px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            margin-bottom: 35px;
        }
    }
}