<div class="product-pads">
    <div class="wrapper">
        <div class="product-pads__content">
            <div class="product-pads__nav">
                <a class="active" data-target=".product-pads__info">Описание</a>
                <a>Характеристики</a>
                <a>Отзывы</a>
            </div>

            <div class="product-pads__info">
                <div class="infomain">
                    <h3>Насос ЭЦВ 8-65-70 нрк</h3>
                    <a class="passport">Паспорт насосов типа ЭЦВ</a>
                    <h4>Погружной центробежный агрегат ЭЦВ 10-120-100</h4>
                    <p> Агрегаты электронасосные ЭЦВ 10-120-100 используются для добычи и дальнейшего поднятия воды из скважины. Также, возможно их применение для полива. Насосы этого типа очень просты в установке и использовании. По этой причине они нашли широкое применение во множестве объектов водного хозяйства. Рабочее положение насоса вертикальное. А также есть возможность использования и в горизонтальном положении. Необходимо соблюдать следующие требования для бесперебойной работы насоса: вода, обязательно должна быть чистой, без разных примесей и песка. Общая минерализация (сухой остаток) не должна превышать 1500 мг/л, температура воды до 25 градусов по Цельсию, содержание водорода (рН) от 6,5 до 9,5, масса твердых примесей должна составлять не более 0,01% и фракциями менее 0,1 мм, количество хлоридов — менее 350 мг/л, сероводорода — не более 1,5 мг/л, сульфатов — не более 500 мг/л.</p>    
                </div>
                <div class="struct">
                    <h4>Структура условного обозначения насосов ЭЦВ</h4>
                    <ul>
                        <li>Э – привод от электродвигателя</li>
                        <li>Ц – центробежный</li>
                        <li>В – перекачиваемая среда (вода)
                            Насосы комплектуются двигателями типа П,ЭД,В</li>
                        <li>П – погружной</li>
                        <li>ЭД – электродвигатель</li>
                        <li>В – заполненный водой</li>
                    </ul>
                    <a class="char"></a>
                    <h4>Таблица сечения токопроводящего провода</h4>
                    <a class="table"></a>
                </div>

                <div class="device">
                    <h4>Устройство насоса ЭЦВ 10-120-100</h4>
                    <a></a>
                </div>

                <div class="marking">
                    <h4>Маркировка ЭЦВ 10-120-100</h4>
                    <h5>Табличка на агрегате должна содержать следующие данные:</h5>
                    <ol>
                        <li>Надпись «Сделано в России»;</li>
                        <li>Единый знак обращения продукции на рынке государств-членов Таможенного союза;</li>
                        <li>Наименование или товарный знак предприятия-изготовителя;                        </li>
                        <li>Обозначение агрегата;</li>
                        <li>Напряжение сети;</li>
                        <li>Номинальную мощность двигателя;</li>
                        <li>Номинальный ток;</li>
                        <li>Подачу;</li>
                        <li>Напор;</li>
                        <li>Массу агрегата;</li>
                        <li>Дату выпуска;</li>
                        <li>Порядковый номер агрегата по системе нумерации предприятия-изготовителя;</li>
                        <li>Номер технических условий;</li>
                        <li>Тип электродвигателя;</li>
                        <li>Число фаз и соединение фаз;</li>
                        <li>Степень защиты обеспечиваемая оболочками (код IP);</li>
                        <li>Класс нагревостойкости;</li>
                        <li>Номинальная частота сети</li>
                        <li>Синхронная частота вращения;</li>
                        <li>Номинальный коэффициент мощности;</li>
                        <li>КПД электродвигателя;</li>
                        <li>Максимальная температура воды;</li>
                        <li>Масса электродвигателя;</li>
                        <li>Направление вращения.</li>
                    </ol>
                </div>

                <div class="note">
                    <h4>Примечание</h4>
                    <ul>
                        <li>Синхронная частота двигателя 3000 об./мин (50 с-1).                        </li>
                        <li>Номинальное линейное напряжение трехфазной сети 380В, 50Гц. Допустимое отклонение напряжения +10%, -5%.                        </li>
                        <li>Подпор при эксплуатации, не менее 1м, а для насосов ЭЦВ12-200, 210, 250 не менее 2м.</li> 
                        <li>НРК – рабочие колеса насосов изготовлены из нержавеющей стали. Агрегаты, не отмеченные нрк, изготавливаются с полипропиленовыми  рабочими колесами, армированными нержавеющей сталью по поверхностям уплотнения. Все агрегаты изготавливаются в двух исполнениях, с пластмассовыми и нержавеющими колесами.</li>
                        <li>НРО – рабочие колеса и направляющие аппараты изготовлены из нержавеющей стали.</li>
                        <li>Допустимые отклонения напоров и подач от номинальных значений, не должно превышать:</li>
                        <li>для насосов с потребляемой мощностью менее 10 кВт ±10% для подачи, ±8% для напора; для остальных насосов ±9% для подачи, ±7% для напора (ГОСТ 6134).</li>
                    </ul>
                </div>

                <div class="attention">
                    <h4>Обращаем Ваше внимание</h4>
                    <p>Запуск насоса необходимо производить не ранее, чем через 15 минут после того как насос будет полностью опущен в воду (это время требуемое для заполнения полости электродвигателя водой).                    </p>
                    <br>
                    <p>Эксплуатация агрегатов вне рабочих интервалов напорной характеристики (см. приложение) приводит к снижению сроков их службы.
                        Прежде чем Вы введете агрегат в эксплуатацию, просим Вас подробно ознакомиться с содержанием настоящего паспорта.</p>
                    <br>
                    <p>Соблюдение наших рекомендаций позволит Вам производить качественную эксплуатацию изделия.                    </p>
                    <br>
                    <p>Не допускается совместная работа двух и более агрегатов на единый напорный трубопровод без установки приборов контроля, регулировочных задвижек, расчётных данных или проекта, обеспечивающих работу агрегатов в номинальных режимах.</p>
                </div>

            </div>

            <div class="product-pads__char">
                
            </div>

        </div>
    </div>
</div>