<div class="product-page-content">
    <div class="wrapper">

        <div class="product-page-content__slider">

            <div class="slider-product">
                
                <div class="nav-container">
                  <div class="slider-nav">
                    <div>
                        <a style="background-image: url(img/product-page/2.png);"></a>
                    </div>
                    <div>
                        <a style="background-image: url(img/product-page/1.png);"></a>
                    </div>
                    <div>
                        <a style="background-image: url(img/product-page/3.png);"></a>
                    </div>
                  </div>
                </div>

                <div class="main-container">
                    <div class="slider slider-main">
                      <div>
                        <a style="background-image: url(img/product-page/1.png);"></a>
                      </div>
                      <div>
                        <a style="background-image: url(img/product-page/3.png);"></a>
                      </div>
                      <div>
                        <a style="background-image: url(img/product-page/2.png);"></a>
                      </div>
                    </div>
                  </div>

                </div>

        </div>

        <div class="product-page-content__info">

          <div class="product-page-content__title">
            <h2 class="title title_production">Насос ЭЦВ 8-65-70 нрк</h2>
          </div>

        </div>

    </div>
</div>