<div class="product-page-content">
    <div class="wrapper">

        <div class="product-page-content__slider">

            <div class="slider-product">
                
                <div class="nav-container">
                  <div class="slider-nav">
                    <div>
                        <a style="background-image: url(img/product-page/3.png);"></a>
                    </div>
                    <div>
                        <a style="background-image: url(img/product-page/1.png);"></a>
                    </div>
                    <div>
                        <a style="background-image: url(img/product-page/2.png);"></a>
                    </div>
                  </div>
                </div>

                <div class="main-container">
                    <div class="slider slider-main">
                      <div>
                        <a style="background-image: url(img/product-page/1.png);"></a>
                      </div>
                      <div>
                        <a style="background-image: url(img/product-page/2.png);"></a>
                      </div>
                      <div>
                        <a style="background-image: url(img/product-page/3.png);"></a>
                      </div>
                    </div>
                  </div>

                </div>
        </div>

        <div class="product-item">

          <div class="product-item__title">
            <h2 class="title title_production">Насос ЭЦВ 8-65-70 нрк</h2>
          </div>

          <div class="product-item__content">
            <p class="cat"><span>Категории:</span> Артезианские типа ЭЦВ, Для чистой воды</p>
            <p class="inf">Агрегаты электронасосные ЭЦВ 8-65-70 нрк используются для добычи и дальнейшего поднятия воды из скважины.</p>
            <div class="product-item__price">
              <p>₽ 92 900</p>
              <div class="product-item__ratio">
                <div class="product-item__stars">
                  <a></a><a></a><a></a><a></a><a></a>
                </div>
                <a class="product-item__review">12 отзывов</a>
              </div>
            </div>
            <div class="product-item__buy">
              <div class="product-item__num">
                <a>-</a>
                <a>1</a>
                <a>+</a>
              </div>
              <a class="product-item__button button">В корзину</a>
              <select class="product-item__select select-product">
                <option selected hidden>Посмотреть наличие</option>
                <option>fsdfdsfd</option>
              </select>
            </div>
            <a class="product-item__delivery">Доставка: <span>Рассчитать стоимость доставки</span></a>
          </div>
        </div>

    </div>
</div>