.certificates {
    position: relative;
    padding-bottom: 150px;
    @media (min-width: 280px) and (max-width: 600px) {
        padding-bottom: 75px;
    }
    @media (min-width: 1201px) and (max-width: 1601px) {
        padding-bottom: 120px;
    }
    @media (min-width: 601px) and (max-width: 1199px) {
        padding-bottom: 80px;
    }
    &__title {
        margin-bottom: 102px;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-bottom: 55px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            margin-bottom: 60px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            padding-bottom: 46px;
        }
    }
    &__content {
        max-width: 100%;
        overflow-x: auto;
    }
    &__scrollbox {
        display: flex;  
        padding-bottom: 87px;
        @media (min-width: 280px) and (max-width: 600px) {
            padding-bottom: 40px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            padding-bottom: 54px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            padding-bottom: 38px;
        }
    }
    &__card {
        width: 355px;
        height: 492px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 66px;
        flex: none;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 163px;
            height: 226px;
            margin-right: 20px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            width: 230.17px;
            height: 319px;
            margin-right: 42px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 161.12px;
            height: 223.3px;
            margin-right: 30px;
        }
    }
}