.intro-company {
    position: relative;
    padding-bottom: 150px;
    @media (min-width: 280px) and (max-width: 600px) {
        padding-bottom: 80px;  
    }
    @media (min-width: 1201px) and (max-width: 1601px) {
        padding-bottom: 100px;
    }
    @media (min-width: 601px) and (max-width: 1199px) {
        padding-bottom: 60px;
    }
    &:before {
        content: '';
        background-image: url(../img/company/back.png);
        position: absolute;
        top: 0;
        left: 0;
        width: 693px;
        height: 1000px;
        pointer-events: none;
        @media (min-width: 280px) and (max-width: 600px) {
            display: none;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            width: 403px;
            height: 566px;
            background-size: contain;
            background-repeat: no-repeat;
        }
        @media (min-width: 601px) and (max-width: 1199px)  {
            display: none;
        }
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        @media (min-width: 280px) and (max-width: 600px)  {
            flex-wrap: wrap;
        }
    }
    &__left {
        width: 40%;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    &__right {
        width: 55%;
        @media (min-width: 280px) and (max-width: 600px)  {
            width: 100%;
        }
    }
    &__content {
        margin-top: 50px;
        @media (min-width: 1201px) and (max-width: 1601px) {
            margin-top: 30px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            margin-top: 24px;
        }
        p {
            max-width: 644px;
            font-family: 'Noto Sans',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 156.9%;
            letter-spacing: 0.03em;
            color: rgba(0, 0, 0, 0.7);
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 12px;
                line-height: 156.9%;
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                font-size: 12px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 10px;
            }
            &:not(:last-child) {
                margin-bottom: 50px;
                @media (min-width: 280px) and (max-width: 600px) {
                    margin-bottom: 20px;
                }
                @media (min-width: 1201px) and (max-width: 1601px) {
                    margin-bottom: 30px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    margin-bottom: 15px;
                }
            }
        }
        span {
            font-weight: bold; 
        }
    }
    &__img {
        display: block;
        background-image: url(../img/company/img.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 857px;
        height: 508px;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
            height: 246px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            width: 589px;
            height: 320px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 348px;
            height: 262px;
        }
    }
    &__list {
        margin-top: 57px;
        margin-left: 15px;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-top: 30px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            margin-top: 46px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            margin-top: 37px;
        }
        ul {
            list-style-type: disc;
            max-height: 192px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            @media (min-width: 280px) and (max-width: 600px) {
                max-height: none;
                .li-none {
                    display: none;
                }
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                max-height: 125px;
                .li-none {
                    display: none;
                }
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                max-height: 109px;
                .li-none {
                    display: none;
                }
            }
            li {
                font-family: 'Noto Sans',sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 180%;
                letter-spacing: 0.03em;
                color: rgba(0, 0, 0, 0.7);
                max-width: 309px;
                @media (min-width: 280px) and (max-width: 600px) {
                    font-size: 12px;
                }
                @media (min-width: 1201px) and (max-width: 1601px) {
                    font-size: 12px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    font-size: 10px;
                    max-width: 202px;
                }
            }
        }
    }
}