.formalization-content {

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (min-width: 601px) and (max-width: 1199px)  {
            justify-content: flex-start;
        }
    }
    &__form{
        width: 47%;
        margin-top: 123px;
        @media (min-width: 280px) and (max-width: 1199px) {
            width: 100%;
        }
        @media (min-width: 280px) and (max-width: 600px) {
            margin-top: 56px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            margin-top: 49px;
            max-width: 633px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            margin-top: 70px;
        }
    }
    &__title {
        margin-bottom: 60px;
        font-family: 'Jost',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 35px;
        text-transform: uppercase;
        color: #000000;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 30px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            font-size: 12px;
            line-height: 17px;
            margin-bottom: 30px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            font-size: 16px;
            line-height: 23px;
            margin-bottom: 40px;
        }
    }
    &__dilivery {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 46px;
        border: 1px solid rgba(0, 0, 0, 0.7);
        position: relative;
        margin: 50px 0;
        text-transform: uppercase;
        @media (min-width: 1201px) and (max-width: 1601px) {
            padding: 25px 20px;
            margin: 32px 0;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            padding: 24px 19px;
            margin: 30px 0;
        }
        @media (min-width: 280px) and (max-width: 600px) {
            padding: 15px 22px;
            margin: 20px 0 30px;
        }
        p {
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            @media (min-width: 1201px) and (max-width: 1601px) {
                font-size: 12px;
                line-height: 15px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 12px;
                line-height: 15px;
            }
            @media (min-width: 280px) and (max-width: 600px) {
                font-size: 12px;
                line-height: 15px;
            }
        }
        span {
            font-weight: 500;
        }
    }
    .basket-content {
        &__title {
            width: 100%;
        } 
        &__content {
            width: 48%;
            margin-top: 123px;
            display: block;
            @media (min-width: 280px) and (max-width: 1199px) {
                width: 100%;
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                margin-top: 70px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                margin-top: 60px;
            }
            @media (min-width: 280px) and (max-width: 600px) {
                margin-top: 60px;
            }
        }
        &__item {
            padding-left: 0;
            width: 80%;
            @media (min-width: 280px) and (max-width: 600px) {
                width: 100%;
                justify-content: space-around;
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                padding-left: 26px;
                width: 75%;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 75%;
                padding-left: 26px;
            }
        }
        &__sum {
            @media (min-width: 1201px) and (max-width: 1601px) {
                width: 23%;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 22%;
            }
        }
        &__body {
            @media (min-width: 601px) and (max-width: 1199px) {
                padding: 14px 0;
            }
        }
        &__foot {
            @media (min-width: 1201px) and (max-width: 1601px) {
                padding: 25px 20px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                padding: 24px 19px;
            }
            @media (min-width: 280px) and (max-width: 600px)  {
                padding: 15px 22px;
                margin-top: 0;
            }
            p {
                font-size: 24px;
                line-height: 29px;
                @media (min-width: 1201px) and (max-width: 1601px) {
                    font-size: 16px;
                    line-height: 20px;
                }
                @media (min-width: 601px) and (max-width: 1199px) {
                    font-size: 16px;
                    line-height: 20px;
                }
                @media (min-width: 280px) and (max-width: 600px) {
                    font-size: 14px;
                    line-height: 17px;
                    margin-bottom: 0;
                    width: fit-content;
                }
                &:first-child {
                    font-size: 22px;
                    line-height: 27px;
                    @media (min-width: 1201px) and (max-width: 1601px) {
                        font-size: 14px;
                        line-height: 17px;
                    }
                    @media (min-width: 601px) and (max-width: 1199px) {
                        font-size: 14px;
                        line-height: 17px;
                    }
                    @media (min-width: 280px) and (max-width: 600px)  {
                        font-size: 12px;
                        line-height: 15px;
                    }
                }
            }
        }
    }
}

//form 
.formalization-form {
    input {
        width: 354px;
        height: 61px;
        margin-bottom: 40px;
        background: #FFFFFF;
        border: 1px solid #1189FF;
        outline: none;
        padding: 22px;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.7);
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
            margin-bottom: 25px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 254px;
            height: 40px;
            margin-bottom: 26px;
            font-size: 11px;
            line-height: 13px;
            padding: 14px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            width: 230.1px;
            height: 39.65px;
            margin-bottom: 26px;
            padding: 14px;
            font-size: 11px;
            line-height: 13px;
        }
        &::placeholder {
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: rgba(0, 0, 0, 0.7);
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 11px;
                line-height: 13px;
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                font-size: 11px;
                line-height: 13px;
            }
        }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
    .companyname {
        width: 100%;
    }
    .iti--allow-dropdown {
        height: 61px;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
            margin-bottom: 25px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            height: 40px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            height: 39.65px; 
        }
    }
    textarea {
        height: 250px;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #1189FF;
        resize: none;
        outline: none;
        padding: 22px;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.7);
        @media (min-width: 601px) and (max-width: 1199px) {
            height: 162px;
            font-size: 11px;
            line-height: 13px;
            padding: 14px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            font-size: 11px;
            line-height: 13px;  
            padding: 14px;
            height: 162.5px;
        }
        &::placeholder {
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: rgba(0, 0, 0, 0.7);
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 11px;
                line-height: 13px;    
            }
            @media (min-width: 1201px) and (max-width: 1601px) {
                font-size: 11px;
                line-height: 13px;  
            }
        }
    }
    p {
        font-family: 'Noto Sans',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.7);
        // margin: 40px 0;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 12px;
            // margin: 30px 0;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            font-size: 12px;
            // margin: 26px 0;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            font-size: 14px;
            // margin: 26px 0;          
        }
    }
    &__double {
        display: flex;
        justify-content: space-between;
        @media (min-width: 280px) and (max-width: 600px) {
            flex-wrap: wrap;
        }
    }
    &__button {
        width: 354px;
        height: 61px;
        border: none;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 156.9%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        @media (min-width: 280px) and (max-width: 600px) {
            border-radius: 7px;
            height: 48px;
            width: 100%;
            font-size: 14px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 230.1px;
            height: 39.65px;
            font-size: 12px;
        }
        @media (min-width: 1201px) and (max-width: 1601px) {
            width: 230.1px;
            height: 39.65px;
            font-size: 12px;            
        }
    }
    //wp
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    label {
        display: none;
    }
    p {
        display: inline;
        
    }
    #payment {
        margin-top: 20px;
        label {
            display: block;
        }
    }
    .woocommerce-terms-and-conditions-wrapper {
        margin: 20px 0;
    }
    p {
        width: 47%;
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 40%;
        }
        @media (min-width: 280px) and (max-width: 600px) {
            width: 100%;
        }
    }
    #prim_field {
        width: 100%;
    }
    #billing_company_field {
        width: 100%;
        input {
            width: 100%;
        }
    }
    #payment {
        width: 100%;
    }
}