.types-product {
    padding-bottom: 90px;
    @media (min-width: 280px) and (max-width: 600px) {
        padding-bottom: 20px;
    }
    &__title {
        
    }
    &__content {
        margin-top: 125px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-top: 55px;
        }
    }
    &__hover {
        position: absolute;
        bottom: -455px;
        height: 455px;
        border-radius: 267.5px 267.5px 80px 80px;
        padding: 140px 0 60px;
        transition: 0.4s ease;
        pointer-events: none;
        @media (min-width: 280px) and (max-width: 600px) {
            bottom: -221px;
            height: 221px; 
            padding: 50px 0 20px;
        }
    }
    &__card {
        width: 21%;
        background: #FFFFFF;
        border: 1px solid #1189FF;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 50px 0;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 45%;
            padding: 25px 0;
            margin-bottom: 20px;
        }
        @media (min-width: 901px) and (max-width: 1300px) {
            width: 30%;
        }
        @media (min-width: 601px) and (max-width: 900px) {
            width: 45%;
        }
        &:hover {
            .card-hover {
                bottom: 0;
                pointer-events: auto;
            }
        }
    }
    &__cardtitle {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 70px;
        max-width: 242px;
        @media (min-width: 280px) and (max-width: 600px) {
            font-size: 9px;
            line-height: 11px;
            margin-bottom: 30px;
            max-width: 113px;
        }
    }
    &__img {
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 260px;
        height: 260px;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 123px;
            height: 123px;
        }
    }

}