<div class="types-list">
    <div class="wrapper">
        <div class="types-list__left">
            <div class="types-list__title title_production title_production-info">
                <h2 class="title title_none">Агрегаты электронасосные ЭЦВ</h2>
                <div class="title__contain">
                    <a class="title__button-hide" data-target=".title__info-hidden"></a>
                </div>
            </div>
            <div class="types-list__info title__info">
                <div class="title__info-hidden">
                    <p> Артезианские насосы типа ЭЦВ используются для добычи и дальнейшего поднятия воды из скважины. Также, возможно их применение для полива. Насосы этого типа очень просты в установке и использовании. По этой причине они нашли широкое применение во множестве объектов водного хозяйства. Рабочее положение насоса вертикальное. А также есть возможность использования и в горизонтальном положении.</p>
                    <h3>Необходимо соблюдать следующие требования для бесперебойной работы насоса:</h3>
                    <ol>
                        <li>Вода, обязательно должна быть чистой, без разных примесей и песка.</li>
                        <li>Общая минерализация (сухой остаток) не должна превышать 1500 мг/л, температура воды до 25 градусов по Цельсию.</li>
                        <li>Содержание водорода (рН) от 6,5 до 9,5</li>
                        <li>Масса твердых примесей должна составлять не более 0,01% и фракциями менее 0,1 мм.</li>
                        <li>Количество хлоридов — менее 350 мг/л.</li>
                        <li>Сероводорода — не более 1,5 мг/л.</li>
                        <li>Сульфатов — не более 500 мг/л.</li>
                    </ol>
                </div>
            </div>

            <div class="types-list__sort">
                <div class="types-list__view">
                    <a class="grid-view active view-change"></a>
                    <a class="list-view view-change"></a>
                </div>
                <span class="filters-view" data-target=".types-list__right">Фильтр</span>
                <div class="types-list__selectsort">
                    <p>118 товаров</p>
                    <select class="select-sort">
                        <option value="" disabled selected hidden>Сортировка</option>
                        <option>По цене</option>
                        <option>По популярности</option>
                    </select>
                </div>
            </div>

            <div class="types-list__content">
                <div class="types-list__card catalog-card">
                    <a href="product-page.html" class="catalog-card__img" style="background-image: url(img/types-list/1.png);"></a>
                    <div class="catalog-card__center">
                        <p class="catalog-card__for">Для чистой воды</p>
                        <h3 class="catalog-card__title">Насос ЭЦВ 8-65-70 нрк</h3>
                        <p class="catalog-card__price">₽ 92 900</p>
                        <a href="" class="catalog-card__button button">В корзину</a>
                    </div>
                    <p class="catalog-card__info">Агрегаты электронасосные ЭЦВ 8-65-70 нрк используются для добычи и дальнейшего поднятия воды из скважины.</p>
                </div>
                <div class="types-list__card catalog-card">
                    <a class="catalog-card__img" style="background-image: url(img/types-list/2.png);"></a>
                    <div class="catalog-card__center">
                        <p class="catalog-card__for">Для чистой воды</p>
                        <h3 class="catalog-card__title">Насос ЭЦВ 10-120-100</h3>
                        <p class="catalog-card__price">₽ 143 520</p>
                        <a href="" class="catalog-card__button button">В корзину</a>
                    </div>
                    <p class="catalog-card__info">Насос ЭЦВ 10-120-100</p>
                </div>
                <div class="types-list__card catalog-card">
                    <a class="catalog-card__img" style="background-image: url(img/types-list/3.png);"></a>
                    <div class="catalog-card__center">
                        <p class="catalog-card__for">Для чистой воды</p>
                        <h3 class="catalog-card__title">Насос ЭЦВ 10-120-100 нро</h3>
                        <p class="catalog-card__price">₽ 153 500</p>
                        <a href="" class="catalog-card__button button">В корзину</a>
                    </div>
                    <p class="catalog-card__info">Агрегаты электронасосные ЭЦВ 10-120-100 нро используются для добычи и дальнейшего поднятия воды из скважины.</p>
                </div>
                <div class="types-list__card catalog-card">
                    <a class="catalog-card__img" style="background-image: url(img/types-list/4.png);"></a>
                    <div class="catalog-card__center">
                        <p class="catalog-card__for">Для чистой воды</p>
                        <h3 class="catalog-card__title">Насос ЭЦВ 10-120-120</h3>
                        <p class="catalog-card__price">₽ 157 880</p>
                        <a href="" class="catalog-card__button button">В корзину</a>
                    </div>
                    <p class="catalog-card__info">Насос ЭЦВ 10-120-120</p>
                </div>
                <div class="types-list__card catalog-card">
                    <a class="catalog-card__img" style="background-image: url(img/types-list/5.png);"></a>
                    <div class="catalog-card__center">
                        <p class="catalog-card__for">Для чистой воды</p>
                        <h3 class="catalog-card__title">Насос ЭЦВ 10-120-120 нрк</h3>
                        <p class="catalog-card__price">₽ 157 880</p>
                        <a href="" class="catalog-card__button button">В корзину</a>
                    </div>
                    <p class="catalog-card__info">Агрегаты электронасосные ЭЦВ 10-120-120 нрк используются для добычи и дальнейшего поднятия воды из скважины.</p>
                </div>
                <div class="types-list__card catalog-card">
                    <a class="catalog-card__img" style="background-image: url(img/types-list/6.png);"></a>
                    <div class="catalog-card__center">
                        <p class="catalog-card__for">Для чистой воды</p>
                        <h3 class="catalog-card__title">Насос ЭЦВ 10-120-120 нро</h3>
                        <p class="catalog-card__price">₽ 172 500</p>
                        <a href="" class="catalog-card__button button">В корзину</a>
                    </div>
                    <p class="catalog-card__info">Агрегаты электронасосные ЭЦВ 10-120-120 нрк используются для добычи и дальнейшего поднятия воды из скважины.</p>
                </div>
                <div class="types-list__card catalog-card">
                    <a class="catalog-card__img" style="background-image: url(img/types-list/7.png);"></a>
                    <div class="catalog-card__center">
                        <p class="catalog-card__for">Для чистой воды</p>
                        <h3 class="catalog-card__title">Насос ЭЦВ 10-120-140 нрк</h3>
                        <p class="catalog-card__price">₽ 174 300</p>
                        <a href="" class="catalog-card__button button">В корзину</a>
                    </div>
                    <p class="catalog-card__info">Агрегаты электронасосные ЭЦВ 10-120-120 нрк используются для добычи и дальнейшего поднятия воды из скважины.</p>
                </div>
                <div class="types-list__card catalog-card">
                    <a class="catalog-card__img" style="background-image: url(img/types-list/8.png);"></a>
                    <div class="catalog-card__center">
                        <p class="catalog-card__for">Для чистой воды</p>
                        <h3 class="catalog-card__title">Насос ЭЦВ 10-120-140 нро</h3>
                        <p class="catalog-card__price">₽ 186 600</p>
                        <a href="" class="catalog-card__button button">В корзину</a>
                    </div>
                    <p class="catalog-card__info">Агрегаты электронасосные ЭЦВ 10-120-120 нрк используются для добычи и дальнейшего поднятия воды из скважины.</p>
                </div>
                <div class="types-list__card catalog-card">
                    <a class="catalog-card__img" style="background-image: url(img/types-list/9.png);"></a>
                    <div class="catalog-card__center">
                        <p class="catalog-card__for">Для чистой воды</p>
                        <h3 class="catalog-card__title">Насос ЭЦВ 10-120-40</h3>
                        <p class="catalog-card__price">₽ 99 730</p>
                        <a href="" class="catalog-card__button button">В корзину</a>
                    </div>
                    <p class="catalog-card__info">Агрегаты электронасосные ЭЦВ 10-120-120 нрк используются для добычи и дальнейшего поднятия воды из скважины.</p>
                </div>
                <div class="types-list__card catalog-card">
                    <a class="catalog-card__img" style="background-image: url(img/types-list/10.png);"></a>
                    <div class="catalog-card__center">
                        <p class="catalog-card__for">Для чистой воды</p>
                        <h3 class="catalog-card__title">Насос ЭЦВ 10-120-40 нрк</h3>
                        <p class="catalog-card__price">₽ 99 730</p>
                        <a href="" class="catalog-card__button button">В корзину</a>
                    </div>
                    <p class="catalog-card__info">Агрегаты электронасосные ЭЦВ 10-120-120 нрк используются для добычи и дальнейшего поднятия воды из скважины.</p>
                </div>
                <div class="types-list__card catalog-card">
                    <a class="catalog-card__img" style="background-image: url(img/types-list/11.png);"></a>
                    <div class="catalog-card__center">
                        <p class="catalog-card__for">Для чистой воды</p>
                        <h3 class="catalog-card__title">Насос ЭЦВ 10-120-40 нро</h3>
                        <p class="catalog-card__price">₽ 106 400</p>
                        <a href="" class="catalog-card__button button">В корзину</a>
                    </div>
                    <p class="catalog-card__info">Агрегаты электронасосные ЭЦВ 10-120-120 нрк используются для добычи и дальнейшего поднятия воды из скважины.</p>
                </div>
                <div class="types-list__card catalog-card">
                    <a class="catalog-card__img" style="background-image: url(img/types-list/12.png);"></a>
                    <div class="catalog-card__center">
                        <p class="catalog-card__for">Для чистой воды</p>
                        <h3 class="catalog-card__title">Насос ЭЦВ 10-120-60</h3>
                        <p class="catalog-card__price">₽ 108 850</p>
                        <a href="" class="catalog-card__button button">В корзину</a>
                    </div>
                    <p class="catalog-card__info">Агрегаты электронасосные ЭЦВ 10-120-120 нрк используются для добычи и дальнейшего поднятия воды из скважины.</p>
                </div>
            </div>
            
            <div class="types-list__pages-nav pages-nav">
                <a href="" class="active">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="" class="mob-hid">4</a>
                <a href="">	&middot; &middot; &middot;</a>
                <a href="" class="mob-hid">31</a>
                <a href="">32</a>
                <a href="">33</a>
                <a href="">&#10142;</a>
            </div> 

        </div>

        <div class="types-list__right">
            <div class="types-list__filters filters">

                <h3 class="filters__title">ФИЛЬТР ПО ХАРАКТЕРИСТИКАМ</h3>
                <div class="filters__charact">

                    <select class="select-charact">
                        <option value="" disabled selected hidden>Диаметр трубы</option>
                        <option>2</option>
                        <option>3</option>
                    </select>

                    <select class="select-charact">
                        <option value="" disabled selected hidden>Номинальная подача (м3/ч)</option>
                        <option>6</option>
                        <option>14</option>
                    </select>

                    <select class="select-charact">
                        <option value="" disabled selected hidden>Номинальный напор (м)</option>
                        <option>23</option>
                        <option>12</option>
                    </select>
                </div>

                <h3 class="filters__title">ПОИСК</h3>
                <div class="filters__search">
                    <input type="text" placeholder="Поиск">
                </div>

                <h3 class="filters__title">Категории товаров</h3>
                <div class="filters__categories">

                    <p><input type="checkbox" class="checkbox" id="art" name="" checked>
                    <label for="art">Артезианские типа ЭЦВ</label></p>

                    <p><input type="checkbox" class="checkbox" id="art1" name="">
                    <label for="art1">Бензиновые типа СВН и СЦЛ</label></p>

                    <p><input type="checkbox" class="checkbox" id="art2" name="">
                    <label for="art2">Вакуумные типа АВЗ, ВВН, НВР</label></p>

                    <p><input type="checkbox" class="checkbox" id="art3" name="">
                    <label for="art3">Вихревые типа ВК, ВКС</label></p>

                    <p><input type="checkbox" class="checkbox" id="art4" name="">
                    <label for="art4">Горизонтальные типа Д, 1Д, ЦН</label></p>

                    <p><input type="checkbox" class="checkbox" id="art5" name="">
                    <label for="art5">Грунтовые типа ГрАТ, ГрАК, ГрАУ, ГрТ</label></p>

                    <p><input type="checkbox" class="checkbox" id="art6" name="">
                    <label for="art6">Конденсатные типа КС и НКУ</label></p>

                    <p><input type="checkbox" class="checkbox" id="art7" name="">
                    <label for="art7">Консольные типа К и КМ</label></p>

                    <p><input type="checkbox" class="checkbox" id="art8" name="">
                    <label for="art8">Фекальные ФГП, ФГПУ, НЦИ-Ф-100</label></p>

                    <p><input type="checkbox" class="checkbox" id="art9" name="">
                    <label for="art9">Секционные типа ЦНС и ЦНСГ</label></p>

                    <p><input type="checkbox" class="checkbox" id="art10" name="">
                    <label for="art10">Трансформаторные типа МТ</label></p>

                    <p><input type="checkbox" class="checkbox" id="art11" name="">
                    <label for="art11">Фекальные типа СМ и СД</label></p>

                    <p><input type="checkbox" class="checkbox" id="art12" name="">
                    <label for="art12">Химические герметичные типа ЦГ</label></p>

                    <p><input type="checkbox" class="checkbox" id="art13" name="">
                    <label for="art13">Химические типа Х и АХ</label></p>

                    <p><input type="checkbox" class="checkbox" id="art14" name="">
                    <label for="art14">Шестеренные типа Ш и НМШ</label></p>

                </div>

                <h3 class="filters__title">ПО ОБЛАСТИ ПРИМЕНЕНИЯ</h3>
                <div class="filters__scope">

                    <p>
                        <input type="checkbox" class="checkbox" id="scope1" name="">
                        <label for="scope1">Для газа и воздушных масс</label>
                    </p>

                    <p>
                        <input type="checkbox" class="checkbox" id="scope2" name="">
                        <label for="scope2">Для горячей воды</label>
                    </p>

                    <p>
                        <input type="checkbox" class="checkbox" id="scope3" name="">
                        <label for="scope3">Для грунтовых смесей</label>
                    </p>

                    <p>
                        <input type="checkbox" class="checkbox" id="scope4" name="">
                        <label for="scope4">Для канализационных и сточных масс</label>
                    </p>

                    <p>
                        <input type="checkbox" class="checkbox" id="scope5" name="">
                        <label for="scope5">Для конденсата</label>
                    </p>

                    <p>
                        <input type="checkbox" class="checkbox" id="scope6" name="">
                        <label for="scope6">Для навоза</label>
                    </p>

                    <p>
                        <input type="checkbox" class="checkbox" id="scope7" name="">
                        <label for="scope7">Для химических растворов и кислот</label>
                    </p>

                    <p>
                        <input type="checkbox" class="checkbox" id="scope8" name="">
                        <label for="scope8">Для чистой воды</label>
                    </p>

                    <p>
                        <input type="checkbox" class="checkbox" id="scope9" name="">
                        <label for="scope9">Для чистой и морской воды</label>
                    </p>

                </div>

            </div>
        </div>

    </div>
</div>

<div class="product-popup">

    <div class="product-popup__slider">
        <div class="slider-popup">
            
            <div class="popup-main-container">

                <div class="popup-slider-main">

                    <div>
                    <a style="background-image: url(img/product-page/3.png);"></a>
                    </div>
                    <div>
                    <a style="background-image: url(img/product-page/2.png);"></a>
                    </div>
                    <div>
                    <a style="background-image: url(img/product-page/1.png);"></a>
                    </div>

                </div>

            </div>

            <div class="popup-nav-container">

                <div class="popup-slider-nav">
                    <div>
                        <a style="background-image: url(img/product-page/3.png);"></a>
                    </div>
                    <div>
                        <a style="background-image: url(img/product-page/2.png);"></a>
                    </div>
                    <div>
                        <a style="background-image: url(img/product-page/1.png);"></a>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="product-popup__rait">
        <div class="product-popup__stars">
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
        </div>
        <div class="product-popup__reviews">
            17 отзывов
        </div>
    </div>

    <div class="product-popup__info">
        <h3 class="product-popup__title">Насос ЭЦВ 8-65-70 нрк</h3>
        <p><span>Категории:</span> Артезианские типа ЭЦВ, Для чистой воды</p>
        <p>Агрегаты электронасосные ЭЦВ 8-65-70 нрк используются для добычи и дальнейшего поднятия воды из скважины.</p>
        <p class="product-popup__price">₽ 92 900</p>
        <div class="product-popup__basket">
            <div class="basket-content__num">
                <a>-</a>
                <a>1</a>
                <a>+</a>
            </div>
            <a class="product-popup__button button">В корзину</a>
        </div>
    </div>
    
</div>