<div class="types-list">
    <div class="wrapper">
        <div class="types-list__title title_production">
            <h2 class="title title_none">Агрегаты электронасосные ЭЦВ</h2>
            <div class="title__contain">
                <a class="title__button-hide active"></a>
            </div>
        </div>
        <div class="types-list__info title__info">
            <p> Артезианские насосы типа ЭЦВ используются для добычи и дальнейшего поднятия воды из скважины. Также, возможно их применение для полива. Насосы этого типа очень просты в установке и использовании. По этой причине они нашли широкое применение во множестве объектов водного хозяйства. Рабочее положение насоса вертикальное. А также есть возможность использования и в горизонтальном положении.</p>
            <h3>Необходимо соблюдать следующие требования для бесперебойной работы насоса:</h3>
            <ol>
                <li>Вода, обязательно должна быть чистой, без разных примесей и песка.</li>
                <li>Общая минерализация (сухой остаток) не должна превышать 1500 мг/л, температура воды до 25 градусов по Цельсию.</li>
                <li>Содержание водорода (рН) от 6,5 до 9,5</li>
                <li>Масса твердых примесей должна составлять не более 0,01% и фракциями менее 0,1 мм.</li>
                <li>Количество хлоридов — менее 350 мг/л.</li>
                <li>Сероводорода — не более 1,5 мг/л.</li>
                <li>Сульфатов — не более 500 мг/л.</li>
            </ol>
        </div>

        <div class="types-list__content">

        </div>
    </div>
</div>