.application {
    &__content {
        margin: 0 -30px;
        margin-top: 125px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        @media (min-width: 280px) and (max-width: 600px) {
            margin: 0 -4px;
            margin-top: 66px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            margin: 0 -20px;
            margin-top: 66px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            margin: 0 -13px;
            margin-top: 57px;
        }
    }
    &__card {
        width: 29%;
        background: #FFFFFF;
        border: 1px solid #1189FF;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 50px 0 70px;
        margin: 0 30px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        justify-content: space-between;
        min-height: 604px;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 48%;
            min-height: 200px;
            padding: 16px 0 22px;
            margin: 0 3px;
            margin-bottom: 20px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            width: 29%;
            height: 392.98px;
            margin: 0 20px;
            margin-bottom: 40px;
            padding: 33px 0 44px;
            min-height: auto;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 29%;
            height: 274.82px;
            margin: 0 15px;
            margin-bottom: 30px;
            padding: 23px 0 30px;
            min-height: auto;
        }
    }
    &__cardtitle {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #000000;
        width: 383px;
        @media (min-width: 280px) and (max-width: 600px) {
            max-width: 120px;
            font-size: 8px;
            line-height: 10px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            font-size: 15.615px;
            line-height: 19px;
            max-width: 238px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            font-size: 10.92px;
            line-height: 13px;
            max-width: 167px;
        }
    }
    &__img {
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 383px;
        height: 383px;
        @media (min-width: 280px) and (max-width: 600px) {
            width: 120px;
            height: 120px; 
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            width: 249.19px;
            height: 249.84px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 174.26px;
            height: 174.72px;
        }
    }
}