<div class="basket-content formalization-content">
    <div class="wrapper">
        <div class="basket-content__title">
            <h2 class="title title_basket">Оформление заказа</h2>
        </div>
        <!--formalization-content-->
        <div class="formalization-content__form">
            <h4 class="formalization-content__title">ДЕТАЛИ ОПЛАТЫ</h4>
            <form action="" class="formalization-form">
                <div class="formalization-form__double">
                    <input type="name" placeholder="Имя">
                    <input type="text" placeholder="Фамилия">
                </div>
                <input id="companyname" type="text" placeholder="Название компании (необязательно)">
                <div class="formalization-form__double">
                    <input id="number2" type="number" placeholder="Номер телефона">
                    <input type="email" placeholder="Еmail">
                </div>
                <textarea placeholder="Примечание к заказу (необязательно)"></textarea>
                <p>- Ваши личные данные будут использоваться для обработки ваших заказов, упрощения вашей работы с сайтом и для других целей, описанных в нашей политика конфиденциальности.</p>
                <button class="formalization-form__button button">Подтвердить заказ</button>
            </form>
        </div>
        <!--basket-content-->
        <div class="basket-content__content">
            <h4 class="formalization-content__title">ВАШ ЗАКАЗ</h4>
            <div class="basket-content__head">
                <p>ТОВАР</p>
                <p>ПОДЫТОГ</p>
            </div>

            <div class="basket-content__body">
                <div class="basket-content__item">
                    <a class="basket-content__img" style="background-image: url(img/basket-page/1.png);"></a>
                    <p class="basket-content__name">Насос ЭЦВ 8-65-70 нрк</p>
                </div>
                <p class="basket-content__sum">₽ 185 800</p>
            </div>

            <div class="basket-content__body">
                <div class="basket-content__item">
                    <a class="basket-content__img" style="background-image: url(img/basket-page/2.png);"></a>
                    <p class="basket-content__name">Насос ЭЦВ 8-65-70 нрк</p>
                </div>
                <p class="basket-content__sum">₽ 185 800</p>
            </div>

            <div class="basket-content__body">
                <div class="basket-content__item">
                    <a class="basket-content__img" style="background-image: url(img/basket-page/3.png);"></a>
                    <p class="basket-content__name">Насос ЭЦВ 8-65-70 нрк</p>
                </div>
                <p class="basket-content__sum">₽ 185 800</p>
            </div>

            <div class="formalization-content__dilivery">
                <p>Доставка</p>
                <p><span>Единая Ставка</span></p>
            </div>

            <div class="basket-content__foot">
                <p>Итого</p>
                <p><span>₽ 475 520</span></p>
            </div>

        </div>
    </div>
</div>