.types-list {
    position: relative;
    padding-bottom: 150px;
    @media (min-width: 280px) and (max-width: 600px) {
        padding-bottom: 60px;
    }
    @media (min-width: 1200px) and (max-width: 1601px) {
        padding-bottom: 120px;
    }
    @media (min-width: 601px) and (max-width: 1199px) {
        padding-bottom: 75px;
    }
    &:before {
        content: '';
        background-image: url(../img/types-list/back.png);
        position: absolute;
        top: -10px;
        left: -30px;
        width: 377px;
        height: 574px;
        pointer-events: none;
        @media (min-width: 280px) and (max-width: 600px) {
            display: none;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            width: 307px;
            height: 506px;
            background-size: contain;
            background-repeat: no-repeat;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            display: none;
        }
    }
    &__sort {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        @media (min-width: 280px) and (max-width: 600px) {
            flex-wrap: wrap;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            margin-bottom: 33px;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            margin-bottom: 30px;
        }
        .filters-view {
            display: none;
            @media (min-width: 280px) and (max-width: 1199px) {
                display: flex;
                width: 162px;
                height: 32px;
                position: relative;
                padding: 8px 11px;
                font-family: 'Montserrat',sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 156.9%;
                color: rgba(0, 0, 0, 0.8);
                border: 1px solid #000000;
                cursor: pointer;
                &:before {
                    content: '';
                    position: absolute;
                    background-image: url(../img/filter.svg);
                    height: 15px;
                    width: 15px;
                    right: 11px;
                    transition: 0.3s ease;
                }
                &.active {
                    &:before {
                        transform: rotate(90deg);
                    }
                }
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                height: 32px;
                display: flex;
                align-items: center;
            }
        }
    }
    &__view {
        display: flex;
        a {
            display: block;
            height: 52px;
            width: 52px;
            border: 1px solid #000000;
            cursor: pointer;
            background-color: white;
            transition: 0.3s ease;
            @media (min-width: 280px) and (max-width: 600px) {
                height: 31px;
                width: 31px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                width: 33px;
                height: 34px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                width: 31px;
                height: 32px;
            }
            &:before {
                content: '';
                position: absolute;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 65%;
                height: 65%;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @media (min-width: 280px) and (max-width: 600px) {
                    height: 20px;
                    width: 20px;
                }
            }
        }
        .grid-view {
            margin-right: 20px;
            position: relative;
            @media (min-width: 280px) and (max-width: 600px) {
                margin-right: 13px;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                margin-right: 13px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                margin-right: 13px;
            }
            &:before {
                background-image: url(../img/types-list/grid.png); 
            }
            &.active {
                background-color: #1189FF;
                border-color: #1189FF;
                &:before {
                    filter: invert(100%);
                }
            }
        }
        .list-view {
            margin-right: 20px;
            position: relative;
            &:before {
                background-image: url(../img/types-list/list.png);
                filter: invert(100%);
            }
            &.active {
                background-color: #1189FF;
                border-color: #1189FF;
                &:before {
                    filter: none;
                }
            }
        }
    }
    &__selectsort {
        display: flex;
        align-items: center;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-top: 12px;
            justify-content: space-between;
            width: 100%;
        }
        p {  
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: rgba(0, 0, 0, 0.7);
            margin-right: 50px;
            @media (min-width: 280px) and (max-width: 600px) {
                margin-right: 0;
            }
            @media (min-width: 1200px) and (max-width: 1601px) {
                font-size: 9px;
                line-height: 11px;
            }
            @media (min-width: 601px) and (max-width: 1199px) {
                font-size: 10px;
                line-height: 12px;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0 -30px;
        @media (min-width: 280px) and (max-width: 600px) {
            margin: 0 -10px;
        }
        @media (min-width: 1200px) and (max-width: 1601px) {
            // margin: 0 -20px;
            margin: 0;
            justify-content: space-between;
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            margin: 0 -15px;
        }
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        width: 74%;
        @media (min-width: 280px) and (max-width: 1199px) {
            width: 100%;
        }
    }
    &__right {
        width: 24%;
        @media (min-width: 280px) and (max-width: 1199px) {
            display: none;
            width: 95%;
            position: absolute;
            top: 500px;
            background-color: white;
            padding: 30px 10px;
            z-index: 4;
            &.active {
                display: block;
            }
        }
        @media (min-width: 601px) and (max-width: 1199px) {
            width: 50%;
            top: 355px;
        }
        &-close {
            display: none;
            transition: 0.3s ease;
            @media (min-width: 290px) and (max-width: 1199px) {
                position: absolute;
                display: block;
                top: 20px;
                right: 20px;
                background-image: url(../img/cross.svg);
                background-size: contain;
                width: 12px;
                height: 12px;
                cursor: pointer;
            }
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}