<div class="certificates">
    <div class="wrapper">
        <div class="certificates__title">
            <h2 class="title title_certificates">СЕРТИФИКАТЫ И ДЕКЛАРАЦИИ</h2>
        </div>
        <div class="certificates__content" id="horizontal">

            <div class="certificates__scrollbox">

                <div class="certificates__card" style="background-image: url(img/company/ser/1.jpg);"></div>
                <div class="certificates__card" style="background-image: url(img/company/ser/2.jpg);"></div>
                <div class="certificates__card" style="background-image: url(img/company/ser/3.jpg);"></div>
                <div class="certificates__card" style="background-image: url(img/company/ser/4.jpg);"></div>
                <div class="certificates__card" style="background-image: url(img/company/ser/5.jpg);"></div>
                <div class="certificates__card" style="background-image: url(img/company/ser/6.jpg);"></div>

            </div>

        </div>
    </div>
</div>