<div class="certificates">
    <div class="wrapper">
        <div class="certificates__title">
            <h2 class="title title_certificates">СЕРТИФИКАТЫ И ДЕКЛАРАЦИИ</h2>
        </div>
        <div class="certificates__content">
            <a href="" class="certificates__img"></a>
            <a href="" class="certificates__img"></a>
            <a href="" class="certificates__img"></a>
            <a href="" class="certificates__img"></a>
            <a href="" class="certificates__img"></a>
            <a href="" class="certificates__img"></a>
        </div>
    </div>
</div>