<div class="intro-company">
    <div class="wrapper">
        <div class="intro-company__left">
            <div class="intro-company__title">
                <h2 class="title title_company">О КОМПАНИИ</h2>
            </div>

            <div class="intro-company__content">
                <p>ООО <span>“ПРОМЭНЕРГОМАШ”</span> , официальный дилер ведущих заводов, производящих промышленные насосы, электродвигатели, вентиляторы, калориферы и комплектующие к ним. Наша компания на рынке с <span>1994 года</span>. В наличии свой большой склад, высококвалифицированные инженеры, которые могут оказать помощь при подборе оборудования.</p>
                <p>Режим работы наших менеджеров консультантов с <span>08:00 до 18:00</span> в рабочие дни, в <span>субботу и воскресенье с 09:00 до 14:00</span>. Привлекательные цены, оборудование сертифицировано, доставка собственным автотранспортом, доставка при помощи транспортной компании “Деловые линии”. Все это и многое другое мы предлагаем для наших клиентов, которые могут получить квалифицированную помощь от наших специалистов.</p>
                <p>Среди наших партнеров – предприятия, производящие насосы, вентиляционное оборудование, электродвигатели, отопительные агрегаты, калориферы и другое электротехническое оборудование.</p>
            </div>
        </div>

        <div class="intro-company__right">
            <a class="intro-company__img"></a>
            <div class="intro-company__list">
                <ul>
                    <li>ОАО ГМС ЛИВГИДРОМАШ</li>
                    <li>ЗАО НПО УРАЛГИДРОПРОМ</li>
                    <li>ОАО ЛИВНЫНАСОС</li>
                    <li>Городецкий судостроительный завод</li>
                    <li class="li-none" style="visibility: hidden;"></li>
                    <li>ЗДТ Ареопаг </li>
                    <li>РУПП ПОЛЕСЬЕЭЛЕКТРОМАШ</li>
                    <li>Электро ЗВИ</li>
                    <li>Завод ВЕНТИЛЯТОР</li>
                    <li>Концерн МЕДВЕДЬ и др.</li>
                    <li>ОАО Предприятие Взлет</li>
                </ul>
            </div>
        </div>

    </div>
</div>