<div class="partners">
    <div class="wrapper">
        <div class="partners__title">
            <h2 class="title title_partners">партнеры компании</h2>
        </div>
        <div class="partners__content"  id="horizontal2">

            <div class="partners__scrollbox">

                <div class="partners__card">
                    <a class="partners__img" style="background-image: url(img/company/part/1.png);"></a>
                </div>
                <div class="partners__card">
                    <a class="partners__img" style="background-image: url(img/company/part/2.png);"></a>
                </div>
                <div class="partners__card">
                    <a class="partners__img" style="background-image: url(img/company/part/3.png);"></a>
                </div>
                <div class="partners__card">
                    <a class="partners__img" style="background-image: url(img/company/part/4.png);"></a>
                </div>
                <div class="partners__card">
                    <a class="partners__img" style="background-image: url(img/company/part/5.png);"></a>
                </div>
                <div class="partners__card">
                    <a class="partners__img" style="background-image: url(img/company/part/6.png);"></a>
                </div>

            </div>

        </div> 
    </div>
</div>