<div class="info-company info-company_backcall">
    <div class="wrapper">
        <div class="info-company__content info-company__content_backcall">
            <div class="info-company__form">
                <h3 class="info-company__smalltitle">ЗАКАЗАТЬ Обратный звонок</h3>
                <form action="" method="POST">
                    <input type="name" placeholder="Имя" style="margin-bottom: 32px;">
                    <input type="tel" id="number" placeholder="Номер телефона">
                    <input type="mail" placeholder="Email" style="margin: 32px 0;">
                    <input type="submit" class="button button_form" value="Отправить">
                    <textarea placeholder="Текст"></textarea>
                </form>
            </div>

            <div class="info-company__mapfull">
                <h3 class="info-company__smalltitle">ДОСТАВКА ПО ВСЕЙ РОССИИ</h3>
                <a class="info-company__mapimg"></a>
            </div>

            <div class="info-company__city">

                <a href="">Москва </a>
                <a href="">Нижний Новгород</a>
                <a href="">Уфа</a>
                <a href="">Санкт-Петербург</a>
                <a href="">Челябинск</a>
                <a href="">Красноярск</a>
                <a href="">Новосибирск</a>
                <a href="">Самара</a>
                <a href="">Воронеж</a>
                <a href="">Екатеринбург</a>
                <a href="">Омск</a>
                <a href="">Пермь</a>
                <a href="">Казань</a>
                <a href="">Ростов-на-Дону</a>
                <a href="">Волгоград</a>

            </div>
        </div>
    </div>
</div>