<footer class="footer">
  <div class="wrapper">
    <div class="footer__top">

      <div class="footer__logo">
        <a class="logo_white"></a>
      </div>

      <div class="footer__info">
        <h3 class="footer__title">ИНФОРМАЦИЯ</h3>
        <a href="">ГЛАВНАЯ</a>
        <a href="">О КОМПАНИИ</a>
        <a href="">КОРЗИНА</a>
        <a href="">КОНТАКТЫ</a>
      </div>

      <div class="footer__production">
        <h3 class="footer__title">НАСОСЫ</h3>
        <div class="footer__production-elem">
          <a href="">АРТЕЗИАНСКИЕ ЭЦВ</a>
          <a href="">БЕНЗИНОВЫЕ СЦЛ, СВН</a>
          <a href="">ВАКУУМНЫЕ ТИПА АВЗ, ВВН И НВР</a>
          <a href="">ГОРИЗОНТАЛЬНЫЕ Д, 1Д, 4Д</a>
          <a href="">КОНСОЛЬНЫЕ</a> 
          <a href="">СЕКЦИОННЫЕ</a>
          <a href="">ФЕКАЛЬНЫЕ</a>
          <a href="">ХИМИЧЕСКИЕ</a>
          <a href="">ШЕСТЕРЕННЫЕ</a>
          <a href="">ТИПА ЦГ</a>
          <a href="">КОНДЕНСАТНЫЕ</a>
          <a href="">ГРУНТОВЫЕ</a>
        </div>
      </div>

      <div class="footer__contacts contacts contacts_map contacts_footer">
        <h3 class="footer__title">Контакты</h3>
        <a href="tel:+74993905352" class="contacts__number">+7 (499) 390-53-52</a>
        <a href="mailto:info@prenmash.ru" class="contacts__mail">info@prenmash.ru</a>
        <p class="contacts__adress">г.Москва, Краснобогатырская ул, дом № 38, строение 2, офис 6</p>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="wrapper">
      <div class="footer__copirated">
        <p>© ООО ПРОМЭНЕРГОМАШ 2021</p>
      </div>
    </div>
  </div>
</footer>

@include('popup.html')
