<header class="header">
  <div class="header__wrapper-top">
    <div class="header__top">

      <div class="header__logo">
        <a href="" class="logo"></a>
      </div>

      <div class="header__delivery">
        <p>Доставка по всей
          территории РФ</p>
      </div>

      <div class="header__timetable">
        <p><span>График работы:</span> ПН-СБ   08:00 - 23:00</p>
      </div>

      <div class="header__button">
        <a href="" class="button">оставить заявку</a>
      </div>

      <div class="header__search">
        <input type="text" placeholder="Поиск">
      </div>

      <div class="header__basket basket">
        <a href="basket-page.html" class="basket__img">
          <div class="basket__value">3</div>
        </a>
        <div class="basket__text">
          <p class="basket__name">Корзина</p>
          <p class="basket__sum"><span>4999</span>₽</p>
        </div>
        <div class="header__burger" id="burger">
          <a class="burger" id="burgerlink"></a>
        </div>
      </div>


      <div class="header__contacts contacts">
        <a href="tel:+74993905352" class="contacts__number">+7 (499) 390-53-52</a>
        <a href="mailto:info@prenmash.ru" class="contacts__mail">info@prenmash.ru</a>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="header__wrapper-bot">
      <div class="header__nav">
        <nav class="nav">
          <a href="types-list.html" class="nav__elem">каталог</a>
          <a href="types-equipment.html" class="nav__elem">Насосы</a>
          <a href="" class="nav__elem">ЭЛЕКТРОДВИГАТЕЛИ</a>
          <a href="company.html" class="nav__elem">о компании</a>
          <a href="contact.html" class="nav__elem">контакты</a>
        </nav>
      </div>
    </div>
  </div>


</header>
