<div class="delivery">
    <div class="wrapper">
        <div class="delivery__title">
            <h2 class="title title_middle">ДОСТАВКА ПО ВСЕЙ РОССИИ</h2>
        </div>
        <div class="delivery__content">
            <div class="delivery__city">
                <a href="">Москва</a>
                <a href="">Новосибирск</a>
                <a href="">Казань</a>
                <a href="">Челябинск</a>
                <a href="">Омск</a>
                <a href="">Уфа</a>
                <a href="">Воронеж</a>
                <a href="">Волгоград</a>
                <a href="">Санкт-Петербург</a>
                <a href="">Екатеринбург</a>
                <a href="">Нижний Новгород</a>
                <a href="">Самара</a>
                <a href="">Ростов-на-Дону</a>
                <a href="">Красноярск</a>
                <a href="">Пермь</a>
            </div>
        </div>
    </div>
</div>