<div class="info-company">
    <div class="wrapper">
        <div class="info-company__title">
            <h2 class="title title_big">Информация о компании ooo ПРОМЭНЕРГОМАШ</h2>
        </div>
        <div class="info-company__content">
            <div class="info-company__form">
                <h3 class="info-company__smalltitle">ЗАКАЗАТЬ Обратный звонок</h3>
                <form action="" method="POST">
                    <input type="name" placeholder="Имя">
                    <input type="tel" id="number" placeholder="Номер телефона">
                    <input class="inputmail" type="mail" placeholder="Email">
                    <input type="submit" class="button button_form" value="Отправить">
                    <textarea placeholder="Текст"></textarea>
                </form>
            </div>
            <div class="info-company__map">
                <h3 class="info-company__smalltitle">Адрес компании</h3>
                <div class="info-company__frame">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d560.5221941379028!2d37.7042223142124!3d55.80905914943074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b535add059b5a9%3A0xd2f1578f2e41a080!2z0JrRgNCw0YHQvdC-0LHQvtCz0LDRgtGL0YDRgdC60LDRjyDRg9C7LiwgMzgg0YHRgtGA0L7QtdC90LjQtSAyLCA2LCDQnNC-0YHQutCy0LAsIDEwNzU2NA!5e0!3m2!1sru!2sru!4v1631636183836!5m2!1sru!2sru" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <div class="info-company__mapinfo">
                        <div class="info-company__contacts contacts contacts_map">
                            <a href="tel:+74993905352" class="contacts__number">+74993905352</a>
                            <a href="mailto:info@prenmash.ru" class="contacts__mail">info@prenmash.ru</a>
                            <p class="contacts__adress">г.Москва, Краснобогатырская ул, дом № 38, строение 2, офис 6</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>