<div class="reviews">
    <div class="wrapper">
        <div class="reviews__title">
            <h2 class="title title_white">ОТЗЫВЫ КЛИЕНТОВ</h2>
        </div>
        <div class="reviews__content" id="horizontal">
            <div class="reviews__scrollbox scrollbox">

                <div class="scrollbox__card">
                    <div class="scrollbox__text">   Огромное спасибо, компания работает на высоком уровне!</div>
                    <div class="scrollbox__info">
                        <a class="scrollbox__img" style="background-image: url(img/reviews/card/1.png);"></a>
                        <div class="scrollbox__name">
                            <p>ООО Компания</p>
                            <p><span>Иван</span></p>
                        </div>
                        <div class="scrollbox__stars">
                            <a></a>
                            <a></a>
                            <a></a>
                            <a></a>
                            <a></a>
                        </div>
                    </div>
                </div>

                <div class="scrollbox__card">
                    <div class="scrollbox__text">   Отличные насосы, все работает как часы, поставил на даче, моей радости нет предела! Спасибо ПЭМ</div>
                    <div class="scrollbox__info">
                        <a class="scrollbox__img" style="background-image: url(img/reviews/card/2.png);"></a>
                        <div class="scrollbox__name">
                            <p>ООО Компания</p>
                            <p><span>Марина</span></p>
                        </div>
                        <div class="scrollbox__stars">
                            <a></a>
                            <a></a>
                            <a></a>
                            <a></a>
                            <a></a>
                        </div>
                    </div>
                </div>

                <div class="scrollbox__card">
                    <div class="scrollbox__text">   Спасибо компании ООО "ПРОМЭНЕРГОМАШ" за качественную продукцию и правильный подбор необходимого оборудования, очень быстрый сервис!</div>
                    <div class="scrollbox__info">
                        <a class="scrollbox__img" style="background-image: url(img/reviews/card/3.png);"></a>
                        <div class="scrollbox__name">
                            <p>ООО Компания</p>
                            <p><span>Сергей</span></p>
                        </div>
                        <div class="scrollbox__stars">
                            <a></a>
                            <a></a>
                            <a></a>
                            <a></a>
                            <a></a>
                        </div>
                    </div>
                </div>

                <div class="scrollbox__card">
                    <div class="scrollbox__text"></div>
                    <div class="scrollbox__info">
                        <a class="scrollbox__img"></a>
                        <div class="scrollbox__name">
                            <p>ООО Компания</p>
                            <p><span>Иван</span></p>
                        </div>
                        <div class="scrollbox__stars">
                            <a></a>
                            <a></a>
                            <a></a>
                            <a></a>
                            <a></a>
                        </div>
                    </div>
                </div>

                <div class="scrollbox__card">
                    <div class="scrollbox__text"></div>
                    <div class="scrollbox__info">
                        <a class="scrollbox__img"></a>
                        <div class="scrollbox__name">
                            <p>ООО Компания</p>
                            <p><span>Иван</span></p>
                        </div>
                        <div class="scrollbox__stars">
                            <a></a>
                            <a></a>
                            <a></a>
                            <a></a>
                            <a></a>
                        </div>
                    </div>
                </div>

                <div class="scrollbox__card">
                    <div class="scrollbox__text"></div>
                    <div class="scrollbox__info">
                        <a class="scrollbox__img"></a>
                        <div class="scrollbox__name">
                            <p>ООО Компания</p>
                            <p><span>Иван</span></p>
                        </div>
                        <div class="scrollbox__stars">
                            <a></a>
                            <a></a>
                            <a></a>
                            <a></a>
                            <a></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>