<div class="requisites img-water img-water_contact">
    <div class="requisites__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1333.4415379495545!2d37.7104921495863!3d55.8006622191027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zMTA3NTY0LCDQnNC-0YHQutCy0LAg0LMsINCa0YDQsNGB0L3QvtCx0L7Qs9Cw0YLRi9GA0YHQutCw0Y8g0YPQuywg0LTQvtC8IOKEliAzOCwg0YHRgtGA0L7QtdC90LjQtSAyLCDQvtGE0LjRgSA2!5e0!3m2!1sru!2sru!4v1632133356670!5m2!1sru!2sru" width="860" height="674" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div class="wrapper">
        <div class="requisites__content">
            <div class="certificates__title">
                <h2 class="title title_contact">контакты и реквизиты</h2>
            </div>
            <div class="requisites__info">
                <div class="requisites__elem">
                    <h3>ЮРИДИЧЕСКИЙ АДРЕС</h3>
                    <p>107564, Москва г, Краснобогатырская ул, дом №
                        38, строение 2, офис 6</p>
                </div>
                <div class="requisites__elem">
                    <h3>ПОЧТОВЫЙ АДРЕС</h3>
                    <p>107564, Москва г, Краснобогатырская ул, дом №
                        38, строение 2, офис 6</p>
                </div>
                <div class="requisites__elem">
                    <h3>СКЛАД</h3>
                    <p>Московская область, Люберецкий район, посёлок Октябрьский,
                        ул. Дорожная, дом 6А</p>
                </div>
                <div class="requisites__elem">
                    <h3>БАНКОВСКИЕ РЕКВИЗИТЫ</h3>
                    <p>ИНН 9718124915</p>
                    <p>КПП 771801001</p>
                    <p>ОГРН 1197746028116</p>
                    <p>Р/с 40702810038000132141</p>
                    <p>ПАО «СБЕРБАНК РОССИИ» г. Москва</p>
                    <p>К/с 30101810400000000225</p>
                    <p>БИК 044525225</p>
                </div>
                <div class="requisites__elem">
                    <h3>ЭЛЕКТРОННЫЙ АДРЕС</h3>
                    <a href="mailto:info@prenmash.ru">info@prenmash.ru</a>
                </div>
                <div class="requisites__elem">
                    <h3>ТЕЛЕФОН</h3>
                    <a href="tel:+74993905352">+7 (499) 390-53-52</a>
                </div>
            </div>
        </div>
    </div>

</div>