// @import 'vars'; если используете scss-переменные - подключите сюда vars, но удалите root из _vars.scss
@import "./components/wrapper";
@import "./components/generalStyles";

@import "./components/logo";
@import "./components/buttons";
@import "./components/basket";
@import "./components/contacts";
@import "./components/nav";
@import "./components/cards";
@import "./components/scrollbox";

@import "./components/header";
@import "./components/footer";

@import "./components/main/intro";
@import "./components/main/production";
@import "./components/main/product";
@import "./components/main/reviews";
@import "./components/main/delivery";
@import "./components/main/info-company";

