// @import 'vars'; если используете scss-переменные - подключите сюда vars, но удалите root из _vars.scss
@import "./components/wrapper";
@import "./components/generalStyles";

@import "./components/logo";
@import "./components/buttons";
@import "./components/basket";
@import "./components/contacts";
@import "./components/nav";
@import "./components/cards";
@import "./components/scrollbox";
@import "./components/breadcrumbs";
@import "./components/card-hover";
@import "./components/titles";
@import "./components/selects";
@import "./components/pages-nav";

@import "./components/header";
@import "./components/footer";
//main
@import "./components/main/intro";
@import "./components/main/production";
@import "./components/main/product";
@import "./components/main/reviews";
@import "./components/main/delivery";
@import "./components/main/info-company";

//types-equipment
@import "./components/types-equipment/types-product";
//application-area
@import "./components/application-area/application";
//types-list
@import "./components/types-list/types-list";

