<div class="application img-water">
    <div class="wrapper">
        <div class="application__title title_production">
            <h2 class="title title_none">НАСОСЫ ПО ОБЛАСТИ ПРИМЕНЕНИЯ</h2>
            <div class="title__contain">
                <a href="/types-equipment.html" class="title__filter">Типы оборудования</a>
                <a href="" class="title__button button">Перейти к каталогу</a>
            </div>
        </div>
        <div class="application__content">
            <div class="application__card">
                <h3 class="application__cardtitle">Для чистой и морской воды</h3>
                <a class="application__img" style="background-image: url(img/application-area/1.png);"></a>
            </div>
            <div class="application__card">
                <h3 class="application__cardtitle">Для горячей воды</h3>
                <a class="application__img" style="background-image: url(img/application-area/2.png);"></a>
            </div>
            <div class="application__card">
                <h3 class="application__cardtitle">Для канализационных и сточных масс</h3>
                <a class="application__img" style="background-image: url(img/application-area/3.png);"></a>
            </div>
            <div class="application__card">
                <h3 class="application__cardtitle">Для газа и воздушных масс</h3>
                <a class="application__img" style="background-image: url(img/application-area/4.png);"></a>
            </div>
            <div class="application__card">
                <h3 class="application__cardtitle">Для чистой воды</h3>
                <a class="application__img" style="background-image: url(img/application-area/5.png);"></a>
            </div>
            <div class="application__card">
                <h3 class="application__cardtitle">для конденсата</h3>
                <a class="application__img" style="background-image: url(img/application-area/6.png);"></a>
            </div>
            <div class="application__card">
                <h3 class="application__cardtitle">для навоза</h3>
                <a class="application__img" style="background-image: url(img/application-area/7.png);"></a>
            </div>
            <div class="application__card">
                <h3 class="application__cardtitle">для химических растворов и кислот</h3>
                <a class="application__img" style="background-image: url(img/application-area/8.png);"></a>
            </div>
            <div class="application__card">
                <h3 class="application__cardtitle">для грунтовых смесей</h3>
                <a class="application__img" style="background-image: url(img/application-area/9.png);"></a>
            </div>
        </div>
    </div>
</div>