<div class="basket-content">
    <div class="wrapper">
        <div class="basket-content__title">
            <h2 class="title title_basket">Корзина товаров</h2>
        </div>
        <div class="basket-content__content">

            <div class="basket-content__head">
                <p>ТОВАР</p>
                <p>ЦЕНА</p>
                <p>КОЛИЧЕСТВО</p>
                <p>ПОДЫТОГ</p>
            </div>

            <div class="basket-content__body">
                <div class="basket-content__item">
                    <a class="basket-content__img" style="background-image: url(img/basket-page/1.png);"></a>
                    <p class="basket-content__name">Насос ЭЦВ 8-65-70 нрк</p>
                </div>
                <p class="basket-content__price">₽ 92 900</p>
                <div class="basket-content__num">
                    <a>-</a>
                    <a>2</a>
                    <a>+</a>
                </div>
                <p class="basket-content__sum">₽ 185 800</p>
            </div>

            <div class="basket-content__body">
                <div class="basket-content__item">
                    <a class="basket-content__img" style="background-image: url(img/basket-page/2.png);"></a>
                    <p class="basket-content__name">Насос ЭЦВ 8-65-70 нрк</p>
                </div>
                <p class="basket-content__price">₽ 92 900</p>
                <div class="basket-content__num">
                    <a>-</a>
                    <a>1</a>
                    <a>+</a>
                </div>
                <p class="basket-content__sum">₽ 185 800</p>
            </div>

            <div class="basket-content__body">
                <div class="basket-content__item">
                    <a class="basket-content__img" style="background-image: url(img/basket-page/3.png);"></a>
                    <p class="basket-content__name">Насос ЭЦВ 8-65-70 нрк</p>
                </div>
                <p class="basket-content__price">₽ 92 900</p>
                <div class="basket-content__num">
                    <a>-</a>
                    <a>1</a>
                    <a>+</a>
                </div>
                <p class="basket-content__sum">₽ 185 800</p>
            </div>

            <div class="basket-content__foot">
                <p>Сумма Заказа</p>
                <p>Доставка: <a>Рассчитать стоимость доставки</a></p>
                <p>Итого: <span>₽ 475 520</span></p>
            </div>

            <div class="basket-content__buttons">
                <a class="basket-content__svg"></a>
                <a class="basket-content__textbtn">Обновить корзину</a>
                <a class="basket-content__button button">ОФОРМИТЬ ЗАКАЗ</a>
            </div>

        </div>
    </div>
</div>